<template lang="pug">
button(:disabled="disabled", @click="$emit('click')")
  span.checkout-icon
    slot(name="icon")
  span.checkout-text
    | {{ text }}
</template>

<script setup lang="ts">
interface CheckoutButtonProps {
  text: string;
  disabled: boolean;
}

defineProps<CheckoutButtonProps>();
</script>

<style lang="sass" scoped>
@import "../../styles/colors"
@import "../../styles/vars"

button
    float: left
    width: 50%
    border: 0
    border-top: 1px solid #ffffff
    background-color: $flat-blue-3
    color: #ffffff
    font-size: 16px
    height: 80px
    vertical-align: middle

    appearance: none

    &:active
        background-color: $flat-blue-4

    &:not([disabled])
        cursor: pointer

    &[disabled]
        opacity: 0.54

    &:nth-child(odd)
        border-right: 1px solid #ffffff

    &:first-child:nth-last-child(1)
        width: 100%

    .checkout-icon
        font-size: 24px
        vertical-align: middle

    .checkout-text
        display: inline-block
        vertical-align: middle
        text-align: left
        line-height: 24px
        padding: 4px 12px 4px 12px
</style>
