<template>
  <div>
    <a-row>
      <a-col :md="{ span: 7 }" :xs="{ span: 0 }">
        <a-statistic title="Created Date" value=" ">
          <template #prefix>
            <span>
              {{ createdDate.format("MMMM D, YYYY") }}
            </span>
          </template>
        </a-statistic>
      </a-col>

      <a-col :md="{ span: 6 }" :xs="{ span: 12 }">
        <a-statistic
          title="Balance"
          :value="priceStr(account.balance)"
          :value-style="{ color: getBalanceColour(account.balance) }"
        />
      </a-col>

      <a-col :md="{ span: 6 }" :xs="{ span: 12 }">
        <a-statistic
          title="Direct Debit"
          :value="account.allowNegativeBalance ? 'Yes' : 'No'"
        />
      </a-col>

      <a-col :md="{ span: 5 }" :xs="{ span: 0 }" v-if="isAdmin">
        <a-statistic title="Admin" :value="isAdmin ? 'Yes' : 'No'" />
      </a-col>
    </a-row>
  </div>
</template>

<script setup lang="ts">
import dayjs from "dayjs";
import { getBalanceColour, priceStr } from "../../scripts/util";
import { Account } from "../../scripts/types";
import { computed } from "vue";

type PartialAccount = Pick<
  Account,
  "id" | "balance" | "createdAt" | "allowNegativeBalance"
>;

interface AccountUserHeaderProps {
  account: PartialAccount;
  isAdmin?: boolean;
}

const props = defineProps<AccountUserHeaderProps>();

const createdDate = computed(() => dayjs(props.account.createdAt));
</script>

<style lang="sass" scoped></style>
