<template lang="pug">
a-form(:wrapperCol="wrapperCol", :labelCol="labelCol")
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      span(v-if="modelValue.pinSet") Your account has a pin code set. It's ready to be used! If you want to change it, you can do so below.
      span(v-else) No pin code has been set. Your account will not show up in the account overview.

  a-form-item(key="formState.pin", label="Pin", v-bind="validateInfos.pin")
    a-input-password(v-model:value="formState.pin", :maxlength="4")

  a-form-item(
    key="formState.pinRepeat",
    label="Pin (repeat)",
    v-bind="validateInfos.pinRepeat"
  )
    a-input-password(v-model:value="formState.pinRepeat", :maxlength="4")

  a-form-item
    a-button(
      type="primary",
      :disabled="!saveButtonEnabled",
      @click="() => onSave()"
    ) Save
</template>

<script setup lang="ts">
import { computed, reactive } from "vue";
import { accountsApi } from "../../scripts/api/accounts";
import { notification } from "ant-design-vue";
import {
  hasValidateInfoHints,
  pinValidator,
  useFormSizes,
} from "../../scripts/composables/form";
import { ApiResponse } from "../../scripts/api/api";
import type { Account } from "../../scripts/types";
import { useForm } from "ant-design-vue/es/form";

interface AccountSelfPinCodeProps {
  modelValue: Account;
}

interface AccountSelfPinCodeEmits {
  (e: "update:modelValue", value: Account): void;
}

const emit = defineEmits<AccountSelfPinCodeEmits>();

const props = defineProps<AccountSelfPinCodeProps>();

const { labelCol, wrapperCol } = useFormSizes();

interface PinCodeForm {
  pin: string;
  pinRepeat: string;
}

const formState: PinCodeForm = reactive({
  pin: "",
  pinRepeat: "",
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    pin: [{ min: 4, required: true, validator: pinValidator }],
    pinRepeat: [
      {
        min: 4,
        required: true,
        validator: pinValidator,
        message: "Please repeat the pin code.",
      },
    ],
  })
);

const saveButtonEnabled = computed(
  () =>
    !hasValidateInfoHints(validateInfos) &&
    formState.pin === formState.pinRepeat &&
    formState.pin
);

const onSave = async () => {
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    await accountsApi.changePin(formState.pin);

    notification.success({
      message: "Account updated.",
      description: "Pin code has been changed.",
    });

    emit("update:modelValue", {
      ...props.modelValue,
      pinSet: true,
    });
  } catch (e) {
    if (e.error === "not_a_pin") {
      notification.error({
        message: "Could not update pin code.",
        description: "Pin code must contain exactly four numbers.",
      });
      return;
    }

    notification.error({
      message: "Could not update pin code.",
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};
</script>

<style lang="sass" scoped></style>
