<template lang="pug">
a-form(
  :wrapperCol="wrapperCol",
  :labelCol="labelCol",
  :validateOnRuleChange="true"
)
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      | Direct Debit details have moved to the
      |
      router-link(
        :to="{ name: 'adminUsers', query: { search: props.modelValue.name } }"
      ) user overview.
</template>

<script setup lang="ts">
import { useFormSizes } from "../../scripts/composables/form";
import type { Account } from "../../scripts/types";

interface DirectDebitProps {
  modelValue: Account;
}

const { labelCol, wrapperCol } = useFormSizes();
const props = defineProps<DirectDebitProps>();
</script>

<style lang="sass" scoped></style>
