<template lang="pug">
div(v-if="!props.readOnly")
  a-radio-group.radio-buttons(v-model:value="accountType")
    a-radio(:style="style", value="user")
      a-tag(color="blue") User
    a-radio(:style="style", value="event")
      a-tag(color="green") Event
    a-radio(:style="style", value="product_ledger")
      a-tag(color="cyan") Product Ledger
    a-radio(:style="style", value="income_ledger")
      a-tag(color="purple") Income Ledger
    a-radio(:style="style", value="pending_ledger")
      a-tag(color="pink") Pending ledger
  a-button-group.buttons(size="small")
    a-button(:disabled="buttonsDisabled", type="primary", @click="applyFilter")
      | Apply
    a-button(:disabled="buttonsDisabled", @click="resetFilter")
      | Reset
span(v-else)
  a-button.display-button(size="middle", ghost, @click="resetFilter")
    span.bold-span.space {{ props.for }}
    span.space is
    span.bold-span
      | {{ accountType }}
    CloseOutlined
</template>
<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterProps, FilterEmits } from "../../scripts/DataTableTypes";
import { watch } from "vue";

interface AccountTypeFilterProps extends FilterProps {
  for: string;
  title: string;
  modelValue: string;
  readOnly: boolean;
}

interface AccountTypeFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

const props = defineProps<AccountTypeFilterProps>();
const emit = defineEmits<AccountTypeFilterEmits>();

const accountType = ref<string | undefined>(props.modelValue);

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  if (props.modelValue === "") {
    accountType.value = undefined;
  } else {
    accountType.value = (JSON.parse(props.modelValue) + "").toLowerCase();
  }
}

const buttonsDisabled = computed(() => {
  return !accountType.value;
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  emit("update:modelValue", JSON.stringify(accountType.value) ?? "");
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }
  accountType.value = "";
  emit("update:modelValue", "");
};

const style = {
  display: "block",
  height: "30px",
  width: "200px",
};

mirrorModelValue();
</script>

<style lang="sass" scoped>

.buttons
    margin-top: 1em

.display-button
    white-space: pre
    color: grey
    border-color: grey

.display-button > *:first-child,
.display-button:last-child
    text-transform: capitalize

.display-button > *
    font-weight: normal

.space:after
    content: " "

.space-before:before
    content: " "

.bold-span
    font-weight: normal
    color: black
</style>
