<template lang="pug">
div(v-if="mollieCallback")
  a-skeleton(v-if="!mollieStatus")
  template(v-else)
    a-result(
      v-if="mollieStatus.paymentStatus === 'paid'",
      status="success",
      title="Payment successfully received!",
      subTitle="Your account has been upgraded."
    )
      template(#extra)
        a-button(@click="() => (mollieCallback = undefined)") Back

    a-result(v-else, :status="paymentResult[0]", :title="paymentResult[1]")
      template(#extra)
        a-button(type="primary", @click="() => refetch()") Refresh Status
        a-button(@click="() => (mollieCallback = undefined)") Back

a-form(v-else, :wrapperCol="wrapperCol", :labelCol="labelCol")
  a-row(
    v-if="loginStore.posWrappedAvailable",
    style="margin-bottom: 1.25em; margin-top: 1.25em"
  )
    a-col(
      :xs="{ span: 22, offset: 1 }",
      :md="{ span: 22, offset: 1 }",
      :lg="{ span: 12 }"
    )
      a(href="https://wrapped.pos.svia.nl")
        a-card(hoverable)
          a-card-meta(
            title="PoS Wrapped is now available!",
            description="Click here to check out your statistics for this academic year!"
          )
            template(#avatar)
              a-avatar(:size="96")
                template(#icon)
                  img(src="/img/trophy_gold.png", style="padding: 0.25em")
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      span Top-up your account using iDEAL.

  a-form-item(
    key="formState.amount",
    label="Amount",
    v-bind="validateInfos.amount"
  )
    PriceDisplay(v-model="formState.amount", :edit="true", size="middle")

  a-form-item
    a-button(
      type="primary",
      :disabled="!topUpButtonEnabled",
      @click="() => onTopUp()"
    ) Top-up
</template>

<script setup lang="ts">
import { computed, reactive, ref } from "vue";
import { accountsApi } from "../../scripts/api/accounts";
import { notification } from "ant-design-vue";
import type { AntValidatorRule } from "../../scripts/composables/form";
import {
  hasValidateInfoHints,
  useFormSizes,
} from "../../scripts/composables/form";
import { ApiResponse } from "../../scripts/api/api";
import PriceDisplay from "../common/PriceDisplay.vue";
import type { Account } from "../../scripts/types";
import { useAdminRequests } from "../../scripts/util";
import { useForm } from "ant-design-vue/es/form";
import { idealApi } from "../../scripts/api/ideal";
import { useQuery } from "@tanstack/vue-query";
import type { ResultStatusType } from "ant-design-vue/es/result";
import { useLoginStore } from "../../scripts/store/login";
interface AccountAdminTopUpProps {
  modelValue: Account;
  mollieCallbackId?: string | null;
}

interface AccountAdminTopUpEmits {
  (e: "update:modelValue", value: Account): void;
}

const emit = defineEmits<AccountAdminTopUpEmits>();
const props = defineProps<AccountAdminTopUpProps>();

const mollieCallback = ref(props.mollieCallbackId);

const loginStore = useLoginStore();
const { requestWith, requestsActive } = useAdminRequests();

const { labelCol, wrapperCol } = useFormSizes();

interface TopUpForm {
  amount: number;
}

const formState: TopUpForm = reactive({
  amount: 2000,
});

const paymentResult = computed<[status: ResultStatusType, title: string]>(
  () => {
    if (!mollieStatus.value) {
      return ["success", ""];
    }
    switch (mollieStatus.value.paymentStatus) {
      case "open":
        return ["info", "Your payment is still being processed."];
      case "canceled":
      case "cancelled":
        return ["warning", "Your payment has been cancelled."];
      case "failed":
        return ["error", "Your payment has failed."];
      case "expired":
        return ["warning", "Your payment has expired."];
      default:
        return ["error", "An unknown error occurred."];
    }
  }
);

function amountValidator(rule: AntValidatorRule, val?: unknown) {
  if (typeof val !== "number") {
    return Promise.reject("Please enter a valid number.");
  }

  if (val < 2000) {
    return Promise.reject("You have to top-up with at least €20,-.");
  }

  if (val > 10000) {
    return Promise.reject("You cannot top-up more than €100,-.");
  }

  return Promise.resolve();
}

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    amount: [{ type: "number", required: true, validator: amountValidator }],
  })
);

const topUpButtonEnabled = computed(() => !hasValidateInfoHints(validateInfos));

const { data: mollieStatus, refetch } = useQuery({
  queryKey: ["mollie/status/", props.mollieCallbackId],
  queryFn: async () => {
    if (!props.mollieCallbackId) {
      throw new Error("mollieCallbackId null");
    }
    const res = await idealApi.mollieStatus(props.mollieCallbackId);
    return res.result;
  },
  enabled: !!props.mollieCallbackId,
});

const onTopUp = async () => {
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    const resp = await requestWith(accountsApi.upgrade(formState.amount));

    window.location.href = resp.result.paymentUrl;
  } catch (e) {
    notification.error({
      message: "Could not upgrade your account.",
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};
</script>

<style lang="sass" scoped></style>
