<template lang="pug">
.admin
  h1 About

  h2 What is PoS?
  | PoS is our Point Of Sale system. It is a system that allows you to buy products in the Kelder and the Brainwave. It is a self-service system, which means you can buy products indepently. You can pay using your PIN card or a PoS tab.

  h3 How do I pay for items in the Kelder?
    ol
      li You take a product, for instance: a can of Cola Zero
      li You select “Cola Zero” on the iPad
      li Select your payment method: PIN or (PoS) tab
      li Pay using the PIN terminal or enter your tab’s code
  h3 How do I pay for items in the Brainwave?
    ol
      li You walk to the bar
      li You order your drink
      li The bartender will ask you to pay using your PIN card or a PoS tab
      li Paying with a PoS tab is as simple as telling the bartender your name

  h2 How does a PoS tab work, and how can I get one?
  | Creating a tab is easy. You can request a tab by navigating to
  |
  router-link(:to="{ name: 'accountSetup' }") "Account Setup"
  | . Here you can create your own account, with your own pincode.
  | The pincode is used to pay for products in the Kelder. Your account will have to be activated by a board member before you can use it. You can find our board members in the Kelder or in the Brainwave during our weekly drinks.
  | There are two kinds of tabs: a debit tab and a direct debit tab.
  h3 Debit tab
  | The first type, the debit tab, works like a pre paid card. You top up your balance, which you can in turn spend on food and drinks. You can’t have a negative balance and will need to charge your tab when it’s empty. You can top up your balance using iDEAL.
  h3 Direct debit tab
  | The second type, the direct debit tab, also known as a credit tab, works like a credit card. Your direct debit tab is created with a balance of zero. Anything you buy will be put on your tab will be deducted from your balance, creating a negative balance. Every month, around the day DUO gives you student finance ("studiefinanciering"), the balance will be reset to zero by deducting the difference from your bank account. No credit check is required in advance, but you'll need to sign a direct debit mandate.

  h2 License
  license-text

  template(v-if="store.user")
    h2#terms Terms and Conditions
    conditions-text
</template>

<script setup lang="ts">
import ConditionsText from "./ConditionsText.vue";
import LicenseText from "./license_text.vue";
import { useLoginStore } from "../scripts/store/login";

const store = useLoginStore();
</script>

<style lang="sass">
@import "../styles/admin.sass"
h2
  font-size: 1.5em
  margin-left: 0 !important

h3
  font-size: 1.2em

  ol
    li
      font-size: 0.8em
</style>
