<template lang="pug">
p The Point of Sale a product of Vereniging Informatiewetenschappen Amsterdam (V.I.A.), located at Science Park 900, Room L0.04, 1098XH Amsterdam.
  | The Point of Sale is published under the
  |
  a(:href="`${repoUrl}/-/tree/master/LICENSE`") GNU Affero General Public License Version 3.
  |
  | Source of this product is published on
  |
  a(:href="repoUrl") Gitlab.com.
</template>

<script setup lang="ts">
const repoUrl = "http://gitlab.com/studieverenigingvia/point-of-sale-server";
</script>
