<template lang="pug">
modal-overlay
</template>

<script setup lang="ts">
import { showError } from "../scripts/util";
import { useLoginStore } from "../scripts/store/login";
import { useRouter } from "vue-router";
import { onMounted } from "vue";
import ModalOverlay from "./purchase/modal_overlay.vue";

class OAuthResponse {
  code: string;
  state: string;
}

const loginStore = useLoginStore();
const router = useRouter();
onMounted(async () => {
  const hashObject: OAuthResponse = <OAuthResponse>window.location.search
    .substr(1)
    .split("&")
    .map((v) => v.split("="))
    .reduce((pre, [key, value]) => ({ ...pre, [key]: value }), {});

  const state = new URLSearchParams(decodeURIComponent(hashObject.state));
  if (localStorage.getItem("verifier") != state.get("verifier")) {
    alert("The state of the login flow is inconsistent, please retry");
    router.push(`/login?next=${encodeURIComponent(state.get("route") ?? "/")}`);
  }

  try {
    await loginStore.oauthWith(hashObject.code);
    // We force a refresh here, to be able to load a config with a user.
    location.replace(state.get("route") ?? "/");
  } catch (e) {
    if (e.errorIdentifier === "oauth_unavailable") {
      loginStore.logout();
    } else if (e.errorIdentifier === "oauth_code_invalid") {
      loginStore.logout();
    } else {
      console.error(e);
    }
  }
});
</script>
