<template lang="pug">
li
  router-link.badge-container(:to="href")
    span.sidebar-icon
      slot(name="icon")
    span {{ title }}
    span.badge(v-if="notifications && notifications > 0") {{ notifications }}
  ul
    slot
</template>

<script setup lang="ts">
interface SidebarElementProps {
  href: string;
  name: string;
  title: string;
  notifications?: number;
}
const props = defineProps<SidebarElementProps>();
</script>

<style lang="sass" scoped>
@import "../styles/_mixins.sass"

.badge-container
    position: relative
    display: inline-block

.badge
    position: absolute
    text-align: center
    width: 24px
    height: 24px
    line-height: 24px
    right: 12px
    border-radius: 50%
    background: #dc3912
    color: white


ul
    padding: 0
    margin: 0

li
    list-style: none
    padding: 0

    border-bottom: 1px solid rgba(255, 255, 255, 0.1)

    &.sub
        border-bottom: none

        a
            padding-left: 28px

a
    padding: 12px 15px 12px 12px
    display: inline-block
    width: 100%
    color: #ffffff

    &:hover
        color: #ffffff
        background-color: rgba(255, 255, 255, 0.1)
        text-decoration: none

    &.router-link-active
        background-color: rgba(255, 255, 255, 0.08)
</style>

<style lang="sass">
.sidebar-icon > span
    font-size: 14px
    padding: 4px 6px 4px 4px
</style>
