<template lang="pug">
.snackbar
  .snackbar__text {{ text }}
  .snackbar__action(@click="$emit('action')") {{ actionText }}
</template>

<script setup lang="ts">
interface SnackbarProps {
  text: string;
  actionText: string;
}
const props = defineProps<SnackbarProps>();
</script>

<style lang="sass">
.snackbar
    display: flex
    align-items: stretch

    min-width: 250px
    background-color: #333
    color: #fff
    text-align: center
    border-radius: 2px
    z-index: 1
    left: 50%
    bottom: 30px

    .snackbar__text
        padding: 16px 8px 16px 16px

    .snackbar__action
        font-weight: 500
        cursor: pointer
        user-select: none
        color: #F39C12
        margin: auto 0 auto auto
        padding: 16px 16px 16px 8px

        &:active
            background-color: #555

@media (max-width: 795px)
    .snackbar
        bottom: 0
        margin: auto
        left: initial
        min-width: 100%
        transform: none

        .snackbar__text
            padding: 12px 4px 12px 8px

        .snackbar__action
            padding: 12px 8px 12px 4px
</style>
