@import "_vars.sass"
@import "_fonts.sass"
@import "_colors.sass"
@import "_mixins.sass"
@import "ant-design-vue/es/notification/style/index"

*
    box-sizing: border-box

body
    margin: 0
    color: rgba(0, 0, 0, 0.87)
    font-family: $font-main
    font-size: 14px
    touch-action: manipulation

    // !important because Ant's global style would override it otherwise
    background-color: #fafafa !important
    line-height: 1.5715

html,
body,
main
    width: 100%
    height: 100%
    overflow: hidden
    position: fixed
    -webkit-overflow-scrolling: touch

h1
    font-family: $font-caption1
    font-weight: 300
    font-size: $font-size-h1
    margin: 0.3em 0 0.3em

    @include screen-small
        font-size: 2em

h2
    font-family: $font-caption2
    font-weight: 200
    font-size: $font-size-h2
    margin: 0 0.5em 0.2em

    @include screen-small
        font-size: 1.7em

h3
    font-family: $font-caption2
    font-weight: normal
    font-size: $font-size-h3
    margin: 28px 0 8px

h4
    font-family: $font-caption2
    font-weight: 700
    font-size: $font-size-h4
    text-transform: uppercase
    border-bottom: 2px solid rgba(255, 255, 255, 0.15)
    margin-bottom: 0
    margin-top: 0
    padding: 2em 1.5em 1em

a
    text-decoration: none
    color: #304ba3

    &:hover
        color: #304ba3

.container
    width: 100%
    height: 100%
    overflow: hidden
    background-color: #f2f2f6

.app
    width: 100%
    height: 100%
    overflow: hidden
    display: flex
    flex-flow: row

.navbar
    @include mix-user-select(none)

    display: none
    position: fixed
    left: 0
    right: 0
    top: 0
    height: 3.5rem
    background-color: #ffffff
    border-bottom: 1px solid #dddddd
    z-index: 1

    @include screen-medium
        display: block

    .navbar--center
        display: inline-block
        width: 100%
        height: 3.5rem
        line-height: 3.5rem
        text-align: center
        font-size: 1.2em

        img
            height: 2rem
            margin-top: calc((3.5rem - 2.0rem) / 2)
            // Ant's css changes img vertical align
            vertical-align: unset !important

.icon
    width: 2rem
    height: 2rem
    background-repeat: no-repeat
    background-size: 100%
    cursor: pointer

.icon--cart
    position: absolute
    top: 0.75rem
    right: 0.75rem
    background-image: url('/img/cart-outline.svg')
    display: none

    @include screen-small
        display: block


.icon--cart__badge
    background-color: $flat-green-4
    border-radius: 100%
    width: 20px
    height: 20px
    position: absolute
    right: -2px
    top: -4px
    color: #ffffff
    line-height: 20px
    text-align: center
    overflow: hidden
    font-size: 0.8em

.icon--menu
    @include mix-user-select(none)

    position: absolute
    top: 0.75rem
    left: 0.75rem
    background-image: url('/img/menu.svg')
    display: none

    &:active
        background-color: #e0e0e0

    @include screen-medium
        display: block

/* Globally fixes label on Google Charts flickering when hovering over it*/
svg > g > g:last-child
    pointer-events: none

.multiselect__content-wrapper
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5)
