.panel-container
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin-bottom: 1em

.panel
    flex-grow: 1
    width: calc(50% - 1em)
    padding: 16px
    height: auto

    background-color: #ffffff
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    border-radius: 2px

    display: inline-block
    position: relative

    overflow: hidden
    hyphens: auto
    white-space: pre-line

    &.panel-space-right
        margin-right: 1em

    &.panel-space-bottom
        margin-bottom: 1em

@media (max-width: 900px)
    .panel
        width: 100%

        &.panel-space-right
            margin-right: 0

.panel-control
    display: flex
    justify-content: flex-start
    align-items: center
    flex-grow: 1
    width: 100%
    margin: 0 0
    height: auto

    div
        width: auto
        margin: 0.5em

.panel-header
    display: flex
    align-content: center

    height: 2rem
    font-size: 1.25rem
    font-weight: 600

    .panel-header-item
        display: flex
        margin: 0
