@import "_colors"
@import "./_mixins.sass"

.search-container
    min-height: 32px
    padding: 8px 2px 8px 10px
    flex: 0 0 auto
    display: flex
    flex-direction: row

    .search
        flex: auto
        border-radius: 8px
        background: #f3f3f5

        &:active
            background-color: #e0e0e0

        .search__icon
            display: inline-block
            vertical-align: middle
            height: 14px
            width: 14px
            margin: 0 0 0 8px
            background: url('/img/search.svg') center center no-repeat

        input
            display: inline-block
            width: calc(100% - 24px)
            line-height: 32px
            margin: 0
            padding: 0 8px
            caret-color: #304ba3
            border: none
            outline: none

            color: black
            background: #f3f3f5
            box-shadow: none
            border-radius: 8px
            -webkit-appearance: none
            font-size: 14px

            &:active
                background-color: #e0e0e0

    .search__clear
        @include mix-user-select(none)

        flex: none
        display: inline-block
        line-height: 32px
        padding: 0 12px 0 12px
        vertical-align: middle

        font-size: 15px
        color: $flat-blue-1
        cursor: pointer
        border-radius: 8px

        &:active
            background-color: #e0e0e0
