<template lang="pug">
a-form(
  :wrapperCol="wrapperCol",
  :labelCol="labelCol",
  :validateOnRuleChange="true"
)
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      | A user's direct debit settings can be changed here. Note that the user should be aware
      | of the mandate ID as well as the sign date. They'll be able to cross-reference this on their
      | bank statements. This is a legal requirement.

  a-form-item(
    key="formState.enabled",
    label="Enabled",
    v-bind="validateInfos.enabled"
  )
    a-switch(v-model:checked="formState.enabled")

  a-form-item(key="formState.iban", label="IBAN", v-bind="validateInfos.iban")
    IbanDisplay(
      v-model="formState.iban",
      :edit="true",
      @bic="onBicUpdated",
      @bicStatus="onBicStatusChanged"
    )

  a-form-item(
    key="formState.bic",
    label="BIC",
    v-bind="validateInfos.bic",
    extra="BIC is automatically filled in when a valid IBAN is entered."
  )
    a-input(v-model:value="formState.bic", :disabled="bicStatus === 'known'")

  a-form-item(
    key="formState.mandateId",
    label="Mandate ID",
    v-bind="validateInfos.mandateId",
    extra="In general it is not necessary to change the mandate ID."
  )
    a-input(v-model:value="formState.mandateId")

  a-form-item(
    key="formState.signDate",
    label="Sign Date",
    v-bind="validateInfos.signDate"
  )
    a-date-picker(v-model:value="formState.signDate")

  a-form-item
    a-space
      a-button(
        type="primary",
        @click="() => onSave()",
        :disabled="!saveButtonEnabled"
      ) Save
      a-button(danger, ghost, @click="() => onClear()") Clear & Save
</template>

<script setup lang="ts">
import { computed, reactive, ref, watchEffect } from "vue";
import { notification } from "ant-design-vue";
import {
  bicValidator,
  ibanValidator,
  useFormSizes,
  resetValidateInfos,
  hasValidateInfoHints,
} from "../../scripts/composables/form";
import { useForm } from "ant-design-vue/es/form";
import { ApiResponse } from "../../scripts/api/api";
import IbanDisplay from "../common/IbanDisplay.vue";
import dayjs from "dayjs";
import type { Dayjs } from "dayjs";
import { type UserDirectDebit, type UserResponse, usersApi } from "../../scripts/api/users";

interface UserDirectDebitProps {
  userId: number;
  modelValue: UserDirectDebit;
}

interface UserDirectDebitEmits {
  (e: "update:modelValue", value: UserDirectDebit): void;
}

const emit = defineEmits<UserDirectDebitEmits>();

const props = defineProps<UserDirectDebitProps>();

const { labelCol, wrapperCol } = useFormSizes();
const bicStatus = ref<"known" | "valid" | "invalid">();

interface DirectDebitForm {
  enabled: boolean;
  iban: string;
  bic: string;
  mandateId: string;
  signDate?: Dayjs;
}

const formState: DirectDebitForm = reactive({
  enabled: props.modelValue.enabled ?? false,
  iban: props.modelValue.iban ?? "",
  bic: props.modelValue.bic ?? "",
  mandateId: props.modelValue.mandateId ?? "",
  signDate: props.modelValue.signDate
    ? dayjs(props.modelValue.signDate)
    : undefined,
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    enabled: [{ required: true }],
    iban: [
      {
        validator: ibanValidator,
        required: computed(() => formState.enabled),
      },
    ],
    bic: [
      {
        validator: bicValidator,
        required: computed(() => formState.enabled),
      },
    ],
    mandateId: [
      {
        min: 3,
        required: computed(() => formState.enabled),
        message: "Please enter a mandate ID.",
      },
    ],
    signDate: [
      {
        type: "date",
        required: computed(() => formState.enabled),
        message: "Please select a sign date.",
      },
    ],
  })
);

const saveButtonEnabled = computed(() => {
  return !hasValidateInfoHints(validateInfos);
});

watchEffect(() => {
  if (!formState.enabled) {
    // Hide hints that are no longer relevant when the direct debit switch is disabled.
    resetValidateInfos(validateInfos);
  }
});

const onBicUpdated = (bic: string) => {
  formState.enabled = true;
  formState.bic = bic;

  if (!formState.mandateId) {
    formState.mandateId = `VIA-DD-A${props.userId}`;
  }

  if (!formState.signDate) {
    formState.signDate = dayjs();
  }
};

const onBicStatusChanged = (status: "known" | "valid" | "invalid") => {
  bicStatus.value = status;
};

async function saveUserDirectDebit() {
  const resp = await usersApi.updateUserDirectDebit(props.userId, {
    enabled: formState.enabled,
    iban: formState.iban || null,
    bic: formState.bic || null,
    mandateId: formState.mandateId || null,
    signDate: formState.signDate
      ? formState.signDate.format("YYYY-MM-DD")
      : null,
  });

  emit("update:modelValue", resp.result);
  return resp.result;
}

const onClear = async () => {
  formState.enabled = false;
  formState.iban = "";
  formState.bic = "";
  formState.mandateId = "";
  formState.signDate = undefined;

  try {
    await saveUserDirectDebit();

    notification.success({
      message: "Account updated.",
      description: `Direct debit has been cleared.`,
    });
  } catch (e) {
    if (e.error === "cannot_disable_direct_debit_when_pending_sepa_batch_exists") {
      notification.error({
        message: "Could not update direct debit details.",
        description: "Cannot disable direct debit because there is a pending batch.",
      });
      return;
    }

    notification.error({
      message: "Could not update direct debit details.",
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};

const onSave = async () => {
  try {
    try {
      await validate<DirectDebitForm>();
    } catch (e) {
      return;
    }

    await saveUserDirectDebit();

    notification.success({
      message: "User updated.",
      description: `Direct debit is ${
        formState.enabled ? "enabled" : "disabled"
      }.`,
    });
  } catch (e) {
    notification.error({
      message: "Could not update direct debit details.",
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};
</script>

<style lang="sass" scoped></style>
