<template lang="pug">
a-form(:wrapperCol="wrapperCol", :labelCol="labelCol")
  a-row
    a-col(:xs="{ span: 24 }", :md="{ span: 18, offset: 1 }")
      | The information on this page will be used to generate the Direct Debit XML file
      | that can be submitted with your bank.
  a-form-item(
    key="formState.creditorName",
    label="Creditor Name",
    v-bind="validateInfos.creditorName"
  )
    a-input(v-model:value="formState.creditorName")

  a-form-item(
    key="formState.creditorIdentifier",
    label="Creditor Identifier",
    v-bind="validateInfos.creditorIdentifier",
    extra="Creditor identifier should be provided by your bank."
  )
    a-input(v-model:value="formState.creditorIdentifier")

  a-form-item(
    key="formState.creditorIban",
    label="IBAN",
    v-bind="validateInfos.creditorIban"
  )
    IbanDisplay(
      v-model="formState.creditorIban",
      :edit="true",
      @bic="onBicUpdated",
      @bicStatus="onBicStatusChanged"
    )

  a-form-item(
    key="formState.creditorBic",
    label="BIC",
    v-bind="validateInfos.creditorBic",
    extra="BIC is automatically filled in when a valid IBAN is entered."
  )
    a-input(
      v-model:value="formState.creditorBic",
      :disabled="bicStatus === 'known'"
    )

  a-form-item
    a-button(
      type="primary",
      :disabled="!saveButtonEnabled",
      @click="() => onSave()"
    ) Save
</template>

<script setup lang="ts">
import { computed, reactive, ref } from "vue";
import { notification } from "ant-design-vue";
import {
  bicValidator,
  hasValidateInfoHints,
  ibanValidator,
  useFormSizes,
} from "../../scripts/composables/form";
import { ApiResponse } from "../../scripts/api/api";
import { useForm } from "ant-design-vue/es/form";
import { sepaApi } from "../../scripts/api/sepa";
import type { DirectDebitConfig } from "../../scripts/api/sepa";
import IbanDisplay from "../common/IbanDisplay.vue";

interface DirectDebitConfigurationProps {
  modelValue: DirectDebitConfig;
}

interface DirectDebitConfigurationEmits {
  (e: "update:modelValue", value: DirectDebitConfig): void;
}

const emit = defineEmits<DirectDebitConfigurationEmits>();

const props = defineProps<DirectDebitConfigurationProps>();

const { labelCol, wrapperCol } = useFormSizes();
const bicStatus = ref<"known" | "valid" | "invalid">();

const formState = reactive({
  creditorName: props.modelValue.creditorName ?? "",
  creditorIdentifier: props.modelValue.creditorIdentifier ?? "",
  creditorIban: props.modelValue.creditorIban ?? "",
  creditorBic: props.modelValue.creditorBic ?? "",
});

const { validate, validateInfos } = useForm(
  formState,
  reactive({
    creditorName: [
      { min: 3, required: true, message: "Please enter the creditor name" },
    ],
    creditorIdentifier: [
      {
        min: 3,
        required: true,
        message: "Please enter the creditor identifier",
      },
    ],
    iban: [
      {
        validator: ibanValidator,
        required: true,
      },
    ],
    bic: [
      {
        validator: bicValidator,
        required: true,
      },
    ],
  })
);

const saveButtonEnabled = computed(() => {
  return !hasValidateInfoHints(validateInfos);
});

const onBicUpdated = (bic: string) => {
  formState.creditorBic = bic;
};

const onBicStatusChanged = (status: "known" | "valid" | "invalid") => {
  bicStatus.value = status;
};

const onSave = async () => {
  try {
    try {
      await validate();
    } catch (e) {
      return;
    }

    await sepaApi.updateConfig(formState);

    emit("update:modelValue", formState);

    notification.success({
      message: "Updated direct debit configuration.",
    });
  } catch (e) {
    notification.error({
      message: `Could not update direct debit configuration.`,
      description: ApiResponse.toErrorDescriptionDiv(e),
    });
  }
};
</script>

<style lang="sass" scoped></style>
