<template>
  <div class="number-filter" v-if="!props.readOnly">
    <a-row class="filter-row">
      <a-col :span="10">More than:</a-col>
      <a-col :span="8">
        <slot
          name="edit"
          v-bind="{ value: gt, onChange: (val) => onChange('gt', val) }"
        />
      </a-col>

      <a-col :span="3" :offset="3">
        <a-button
          size="small"
          class="clear-button"
          ghost
          @click="(_) => onChange('gt', undefined)"
        >
          <CloseOutlined />
        </a-button>
      </a-col>
    </a-row>

    <a-row class="filter-row" :gutter="8">
      <a-col :span="10">Less than:</a-col>
      <a-col :span="8">
        <slot
          name="edit"
          v-bind="{ value: lt, onChange: (val) => onChange('lt', val) }"
        />
      </a-col>
      <a-col :span="3" :offset="3">
        <a-button
          size="small"
          class="clear-button"
          ghost
          @click="(_) => onChange('lt', undefined)"
        >
          <CloseOutlined />
        </a-button>
      </a-col>
    </a-row>

    <a-row class="filter-row" :gutter="8">
      <a-col :span="10">Equal:</a-col>
      <a-col :span="8">
        <slot
          name="edit"
          v-bind="{ value: eq, onChange: (val) => onChange('eq', val) }"
        />
      </a-col>
      <a-col :span="3" :offset="3">
        <a-button
          size="small"
          class="clear-button"
          ghost
          @click="(_) => onChange('eq', undefined)"
        >
          <CloseOutlined />
        </a-button>
      </a-col>
    </a-row>

    <a-button-group class="buttons" size="small">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is</span>

      <span v-if="eq !== undefined">
        <span class="space">equal to</span>
        <span class="bold-span">
          <slot name="display" v-bind="{ value: eq }" />
        </span>
      </span>

      <span v-if="gt !== undefined">
        <span class="space space-before" v-if="eq !== undefined">and</span>
        <span class="space">more than</span>
        <span class="bold-span">
          <slot name="display" v-bind="{ value: gt }" />
        </span>
      </span>

      <span v-if="lt !== undefined">
        <span
          class="space space-before"
          v-if="eq !== undefined || gt !== undefined"
          >and</span
        >
        <span class="space">less than</span>
        <span class="bold-span">
          <slot name="display" v-bind="{ value: lt }" />
        </span>
      </span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterProps } from "../../scripts/DataTableTypes";
import { watch } from "vue";

interface NumberFilterProps extends FilterProps {
  for: string;
  modelValue: string;
  readOnly: boolean;

  // This is the same as having a defineEmits with "update:modelValue" event. This is a workaround:
  // See https://github.com/vuejs/core/issues/5220 & https://github.com/vuejs/rfcs/discussions/397
  // Because of this workaround, inheritors of BaseNumberFilter can automatically listen to emits.
  "onUpdate:modelValue": (val: string) => void;
}

const props = defineProps<NumberFilterProps>();
const emit = defineEmits();

const gt = ref<number | undefined>();
const lt = ref<number | undefined>();
const eq = ref<number | undefined>();

const onChange = (which: "gt" | "lt" | "eq", value: number | undefined) => {
  if (which === "gt") {
    gt.value = value;
  } else if (which === "lt") {
    lt.value = value;
  } else if (which === "eq") {
    eq.value = value;
  }
};

const filterString = computed(() => {
  const filters: string[] = [];

  if (typeof gt.value !== "undefined") {
    filters.push(`>=${gt.value}`);
  }

  if (typeof lt.value !== "undefined") {
    filters.push(`<=${lt.value}`);
  }

  if (typeof eq.value !== "undefined") {
    filters.push(`=${eq.value}`);
  }

  return filters.join(",");
});

function mirrorModelValue() {
  const split = props.modelValue.split(",").map((s) => s.trim());

  gt.value = undefined;
  lt.value = undefined;
  eq.value = undefined;

  for (const operator of split) {
    if (operator.startsWith(">=")) {
      gt.value = +operator.substring(2);
    } else if (operator.startsWith("<=")) {
      lt.value = +operator.substring(2);
    } else if (operator.startsWith("=")) {
      eq.value = +operator.substring(1);
    }
  }
}

mirrorModelValue();
watch([props], () => {
  mirrorModelValue();
});

const buttonsDisabled = computed(() => {
  return filterString.value === "";
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  emit("update:modelValue", filterString.value);
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  gt.value = undefined;
  lt.value = undefined;
  eq.value = undefined;

  emit("update:modelValue", "");
};
</script>

<style lang="sass" scoped>
.number-filter
  width: 100%
  min-width: 250px

.filter-row
  margin-bottom: 0.25em

.buttons
  margin-top: 0.5em

.clear-button
  color: grey
  border-color: grey

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
