<template>
  <div class="category-filter" v-if="!props.readOnly">
    <a-button-group class="buttons" size="small">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>

    <div style="width: 200px" ref="categoryDisplayWrapper">
      <CategoryDisplay
        size="default"
        :disabled="unassigned"
        :modelValue="categories"
        :edit="true"
        :getPopupContainer="getPopupContainer"
        @update:modelValue="onCategoriesChanged"
      />
      <div class="unassigned-container">
        <label for="unassigned-switch" class="unassigned-label"
          >Unassigned:
        </label>
        <a-switch
          v-model:checked="unassigned"
          id="unassigned-switch"
        ></a-switch>
      </div>
    </div>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span v-if="categoryNames.length" class="space">include</span>
      <template v-if="!categoryNames.length">
        <span class="space">are</span>
        <em class="bold-span space">not assigned</em>
      </template>
      <template v-else-if="categoryNames.length === 1">
        <span class="bold-span">'{{ categoryNames[0] }}'</span>
      </template>
      <template v-else>
        <template
          v-for="(name, index) in categoryNames.slice(
            0,
            categoryNames.length - 1
          )"
          :key="name"
        >
          <span class="bold-span">'{{ name }}'</span>
          <span class="space">,</span>
        </template>
        <span class="space">or</span>
        <span class="bold-span"
          >'{{ categoryNames[categoryNames.length - 1] }}'</span
        >
      </template>

      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import CategoryDisplay from "./CategoryDisplay.vue";
import { computed, ref, reactive } from "@vue/reactivity";
import type { FilterEmits, FilterProps } from "../../scripts/DataTableTypes";
import { watch } from "vue";
import { useCategoryStore } from "../../scripts/store/category";

interface CategoryFilterProps extends FilterProps {
  for: string;
  title: string;
  modelValue: string;
  readOnly: boolean;
}

interface CategoryFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

// Ref to the wrapper elememt
const categoryDisplayWrapper = ref<HTMLElement | null>(null);

const getPopupContainer = () => {
  // Hack to not close filter menu's when hovering the select's options.
  if (categoryDisplayWrapper.value !== null) {
    return categoryDisplayWrapper.value;
  }

  return document.body;
};

const props = defineProps<CategoryFilterProps>();
const emit = defineEmits<CategoryFilterEmits>();

const categories = ref<number[]>(
  commaSeperatedStringToNumberList(props.modelValue)
);
const unassigned = ref<boolean>(false);

const onCategoriesChanged = (categoryIds: number[]) => {
  categories.value = categoryIds;
};
const categoryStore = useCategoryStore();
const categoryNames = computed(() => {
  return categoryStore.categories
    .filter((c) => categories.value.includes(c.id))
    .map((c) => c.name);
});

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  if (props.modelValue === "none") {
    categories.value = [];
    unassigned.value = true;
  } else {
    categories.value = commaSeperatedStringToNumberList(props.modelValue);
    unassigned.value = false;
  }
}

// Takes a string with comma-seperated numbers and turns it into a list.
function commaSeperatedStringToNumberList(input: string): number[] {
  return input
    .split(",")
    .map((id) => id.trim())
    .filter((id) => !!id)
    .map((id) => parseInt(id))
    .filter((id) => !isNaN(id));
}

const buttonsDisabled = computed(() => {
  return !categories.value.length && !unassigned.value;
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  if (unassigned.value) {
    emit("update:modelValue", "none");
  } else {
    emit("update:modelValue", categories.value.join(","));
  }
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }
  categories.value = [];
  emit("update:modelValue", "");
};

async function created(): Promise<void> {
  mirrorModelValue();
}

created();
</script>

<style lang="sass" scoped>
.unassigned-container
  flex: 1
  min-height: 1.5em
  margin-top: 1em

.unassigned-label
  margin-right: 0.5em

.buttons
  margin-bottom: 1em

.clear-button
  color: grey
  background-color: grey

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
