<template>
  <a-select
    v-if="edit"
    :options="colorOptions"
    :value="modelValue"
    class="color-select"
    @change="(v) => emit('update:modelValue', v)"
  />
  <a-tag v-else :color="colorCode" class="color-display">
    {{ colorName }}
  </a-tag>
</template>

<script setup lang="ts">
import { computed } from "@vue/reactivity";
import { ComputedRef } from "vue";
import type { DisplayProps } from "../../scripts/DataTableTypes";

interface CategoryColorDisplayDisplayProps extends DisplayProps {
  modelValue: number;
  edit: boolean;
}

interface CategoryColorDisplayDisplayEmits {
  (e: "update:modelValue", value: number): void;
}

const emit = defineEmits<CategoryColorDisplayDisplayEmits>();

const props = withDefaults(defineProps<CategoryColorDisplayDisplayProps>(), {
  edit: false,
  loading: false,
});

const colorOptions = [
  { label: "Cyaan", value: 0 },
  { label: "Groen", value: 1 },
  { label: "Blauw", value: 2 },
  { label: "Violet", value: 3 },
  { label: "Grijs", value: 4 },
  { label: "Oranje", value: 5 },
  { label: "Donkeroranje", value: 6 },
  { label: "Rood", value: 7 },
];

const colorCode: ComputedRef<string | undefined> = computed(() => {
  const idx = +props.modelValue;

  return [
    "#16A085",
    "#27AE60",
    "#2980B9",
    "#8E44AD",
    "#2C3E50",
    "#F39C12",
    "#D35400",
    "#C0392B",
  ][idx];
});

const colorName = computed(() => {
  const idx = +props.modelValue;
  return colorOptions[idx]?.label ?? "Unknown color";
});
</script>

<style lang="sass" scoped>
.color-display
  text-transform: capitalize

.color-select
  width: 160px
</style>
