<template>
  <a-tag v-if="!props.edit && value" :key="value.code">
    {{ value.description }}
  </a-tag>
  <a-tag v-else-if="!props.edit && props.modelValue">
    <em>{{ props.modelValue }}</em>
  </a-tag>
  <a-tag v-else-if="!props.edit && !value" color="red">
    <em>Not Selected</em>
  </a-tag>
  <a-select
    v-else
    style="width: 100%"
    size="small"
    placeholder="Not Selected"
    @change="(e) => emit('update:modelValue', e)"
    :value="valueCode"
    :disabled="props.loading"
    :options="
      exactStore.ledgers.map((v) => ({
        value: v.code,
        label: v.code + ' - ' + v.description,
      }))
    "
    show-search
    option-filter-prop="label"
  >
  </a-select>
</template>

<script setup lang="ts">
import type { DisplayProps } from "../../scripts/DataTableTypes";
import { useExactStore } from "../../scripts/store/exact";
import { computed, Ref } from "vue";
import type { ExactLedger } from "../../scripts/api/exact";

interface ExactLedgerDisplayProps extends DisplayProps {
  edit: boolean;
  loading: boolean;
  modelValue?: string;
}

const props = withDefaults(defineProps<ExactLedgerDisplayProps>(), {
  edit: false,
  loading: false,
});
const emit = defineEmits<{
  (e: "update:modelValue", value: unknown): void;
}>();
const exactStore = useExactStore();

const value = computed(() => {
  if (!props.modelValue) {
    return;
  }
  return exactStore.ledgers.find((e) => e.code === props.modelValue);
}) as Ref<ExactLedger>; // Is actually Ref<ExactCostCenter | undefined>:  https://github.com/vuejs/core/issues/4663
const valueCode = computed(() => value.value?.code);
</script>
