<template>
  <BaseExactFilter
    v-bind="{ ...$props, ...$attrs }"
    :displayComponent="ExactCostCenterDisplay"
    exactDataStoreKey="costCenters"
  >
  </BaseExactFilter>
</template>
<script setup lang="ts">
import BaseExactFilter from "./BaseExactFilter.vue";
import ExactCostCenterDisplay from "./ExactCostCenterDisplay.vue";
</script>
