<template>
  <a-tag
    v-if="!props.edit && value"
    :key="value.code"
    :color="vatCodeColor(value)"
  >
    {{ formatVatCode(value) }}
  </a-tag>
  <a-tag v-else-if="!props.edit && props.modelValue">
    <em>{{ props.modelValue }}</em>
  </a-tag>
  <a-tag v-else-if="!props.edit && !value" color="red">
    <em>Not Selected</em>
  </a-tag>
  <a-select
    v-else
    style="width: 100%"
    size="small"
    placeholder="Not Selected"
    @change="(e) => emit('update:modelValue', e)"
    :value="valueCode"
    :disabled="props.loading"
    :options="
      exactStore.vatCodes.map((v) => ({
        value: v.code,
        label: formatVatCode(v),
      }))
    "
    :getPopupContainer="getPopupContainer"
    show-search
    option-filter-prop="label"
  >
  </a-select>
</template>

<script setup lang="ts">
import type { DisplayProps } from "../../scripts/DataTableTypes";
import { useExactStore } from "../../scripts/store/exact";
import { computed, Ref } from "vue";
import type { ExactVatCode } from "../../scripts/api/exact";

interface ExactVatDisplayProps extends DisplayProps {
  edit: boolean;
  loading: boolean;
  modelValue?: string;
  // See explanation in SchemaSelectDisplay
  getPopupContainer?: () => HTMLElement;
}

const exactStore = useExactStore();

const props = withDefaults(defineProps<ExactVatDisplayProps>(), {
  edit: false,
  loading: false,
  getPopupContainer: () => document.body,
});

const emit = defineEmits<{
  (e: "update:modelValue", value: unknown): void;
}>();

const formatVatCode = (v: ExactVatCode) => {
  const percentage = `${(v.percentage * 100).toFixed(0)}%`;
  let modifier = "";
  if (v.type === "E") {
    modifier = "excl.";
  } else if (v.type === "I") {
    modifier = "incl.";
  } else if (v.type === "N") {
    modifier = "no vat";
  } else if (v.type === "B") {
    modifier = "base only";
  }
  return `${v.description} (${percentage} ${modifier})`;
};

const vatCodeColor = (v: ExactVatCode) => {
  let color = ""; // Empty string defaults to no color
  if (v.type === "E" || v.type === "I") {
    // Inclusive or exclusive, we only care about percentage
    if (v.percentage === 0.09) {
      return "blue";
    } else if (v.percentage === 0.21) {
      return "purple";
    }
  } else if (v.type === "N") {
    // No vat
    color = "green";
  } else if (v.type === "B") {
    // Base only
    color = "orange";
  }
  return color;
};

const value = computed(() => {
  if (!props.modelValue) {
    return;
  }
  return exactStore.vatCodes.find((e) => e.code === props.modelValue);
}) as Ref<ExactVatCode>; // Is actually Ref<ExactVatCode | undefined>: https://github.com/vuejs/core/issues/4663

const valueCode = computed(() => value.value?.code);
</script>
