<template>
  <BaseExactFilter
    v-bind="{ ...$props, ...$attrs }"
    :displayComponent="ExactVatDisplay"
    exactDataStoreKey="vatCodes"
  >
  </BaseExactFilter>
</template>
<script setup lang="ts">
import BaseExactFilter from "./BaseExactFilter.vue";
import ExactVatDisplay from "./ExactVatDisplay.vue";
</script>
