<template>
  <div v-if="!edit">
    <span class="iban-display">
      <span> {{ formattedIban }} </span>
      <span v-if="showBic">
        <template v-if="bic"> ({{ bic }}) </template>
        <em v-else> (invalid) </em>
      </span>

      <span v-if="showValidIndicator">
        <CheckCircleOutlined
          v-if="ibanValid"
          :style="{ fontSize: '24px', color: '#3f8600' }"
        />
        <CloseCircleOutlined
          v-else
          :style="{ fontSize: '24px', color: '#cf1322' }"
        />
      </span>
    </span>
  </div>
  <div v-else>
    <span class="iban-display">
      <a-input
        :value="modelValue"
        size="middle"
        @change="change"
        :disabled="loading"
      />

      <span
        v-if="showBic"
        :style="{ visibility: modelValue.length ? 'visible' : 'hidden' }"
      >
        <template v-if="bic && ibanValid">
          {{ bic }}
        </template>
        <em v-else-if="!bic && ibanValid"> (BIC unknown) </em>
        <em v-else> (invalid) </em>
      </span>

      <span
        v-if="showValidIndicator"
        :style="{ visibility: modelValue.length ? 'visible' : 'hidden' }"
      >
        <CheckCircleOutlined
          v-if="ibanValid"
          :style="{ fontSize: '24px', color: '#3f8600' }"
        />
        <CloseCircleOutlined
          v-else
          :style="{ fontSize: '24px', color: '#cf1322' }"
        />
      </span>
    </span>
  </div>
</template>

<script setup lang="ts">
import type { ChangeEvent } from "ant-design-vue/lib/_util/EventInterface";
import { computed, watch, watchEffect } from "vue";
import { formatIban, getBicFromIban, isIbanValid } from "../../scripts/iban";

interface IbanDisplayProps {
  modelValue: string;
  edit?: boolean;
  loading?: boolean;
  showValidIndicator?: boolean;
  showBic?: boolean;
}

interface IbanDisplayEmits {
  (e: "update:modelValue", value: string): void;
  /**
   * Emits a *known* BIC when IBAN is changed to a valid string and we know this bank.
   */
  (e: "bic", value: string): void;
  /**
   * A known BIC is a valid bic that is listed in our list of banks. Note that a BIC can be valid without being known.
   * E.g. when dealing with non-Dutch BICs.
   */
  (e: "bicStatus", value: "known" | "valid" | "invalid");
}

const props = withDefaults(defineProps<IbanDisplayProps>(), {
  edit: false,
  loading: false,
  showValidIndicator: true,
  showBic: true,
});
const emit = defineEmits<IbanDisplayEmits>();

const formattedIban = computed(() => formatIban(props.modelValue));
const ibanValid = computed(() => isIbanValid(props.modelValue));
const bic = computed(() => getBicFromIban(props.modelValue));

function emitBic() {
  if (!props.modelValue) {
    return;
  }

  if (ibanValid.value && bic.value) {
    emit("bic", bic.value);
    emit("bicStatus", "known");
  } else if (ibanValid.value && !bic.value) {
    emit("bicStatus", "valid");
  } else {
    emit("bicStatus", "invalid");
  }
}

watch(() => props.modelValue, emitBic, { flush: "post" });

emitBic();

function change(ev: ChangeEvent) {
  if (ev.target) {
    return emit("update:modelValue", (ev.target as HTMLInputElement).value);
  }

  return emit("update:modelValue", "");
}
</script>

<style lang="sass" scoped>
.iban-display
  display: flex
  flex-direction: row
  align-items: center
  gap: 1em
</style>
