<template>
  <span v-if="!edit && ledger">
    <a-tooltip
      v-if="ledger.name.length > maxLedgerNameLength"
      :key="ledger.id"
      :title="ledger.name"
    >
      <a-tag>
        {{ `${ledger.name.slice(0, maxLedgerNameLength).trim()}...` }}
      </a-tag>
    </a-tooltip>
    <a-tag v-else :key="ledger.id + '-else'">
      {{ ledger.name }}
    </a-tag>
  </span>
  <span v-else-if="!edit && !ledger">
    <a-tag>
      <em>Not Selected</em>
    </a-tag>
  </span>
  <span v-else>
    <a-select
      style="width: 100%"
      size="small"
      placeholder="Not Selected"
      :value="ledgerId"
      :getPopupContainer="getPopupContainer"
      @change="change"
      show-search
      option-filter-prop="label"
      :disabled="loading"
      :options="
        ledgerStore.ledgers
          .filter((l) => (props.includeIncomeLedgers ? true : !l.incomeLedger))
          .map((l) => ({ value: l.id, label: l.name }))
      "
    >
    </a-select>
  </span>
</template>

<script setup lang="ts">
import { breakpointsTailwind, useBreakpoints } from "@vueuse/core";
import { useLedgerStore } from "../../scripts/store/ledgers";
import { computed } from "vue";
interface LedgerDisplayProps {
  modelValue: number;
  edit: boolean;
  loading: boolean;
  includeIncomeLedgers: boolean;
  getPopupContainer?: () => HTMLElement;
}

interface LedgerDisplayEmits {
  (e: "update:modelValue", value: unknown): void;
}

const props = withDefaults(defineProps<LedgerDisplayProps>(), {
  edit: false,
  loading: false,
  includeIncomeLedgers: true,
  getPopupContainer: () => document.body,
});
const emit = defineEmits<LedgerDisplayEmits>();

const breakpoints = useBreakpoints(breakpointsTailwind);
const ledgerStore = useLedgerStore();

const maxLedgerNameLength = computed<number>(() => {
  if (breakpoints["2xl"]) {
    return 60;
  } else if (breakpoints["xl"]) {
    return 45;
  } else if (breakpoints["lg"]) {
    return 30;
  } else if (breakpoints["md"]) {
    return 20;
  }

  return 15;
});

const ledgerId = computed(() => {
  return ledger.value?.id ?? undefined;
});

const ledger = computed(() => {
  return ledgerStore.ledgers.find((l) => l.id === props.modelValue);
});
function change(value: unknown) {
  emit("update:modelValue", value);
}
</script>
