<template>
  <div class="ledger-filter" v-if="!props.readOnly">
    <a-button-group class="buttons" size="small">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>

    <div style="width: 200px" ref="ledgerDisplayWrapper">
      <LedgerDisplay
        size="default"
        :edit="true"
        :getPopupContainer="getPopupContainer"
        :modelValue="ledger"
        @update:modelValue="onLedgerChanged"
      />
    </div>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is</span>
      <span class="bold-span">{{ ledgerName }}</span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import LedgerDisplay from "./LedgerDisplay.vue";
import { computed, ref } from "@vue/reactivity";
import type { FilterEmits, FilterProps } from "../../scripts/DataTableTypes";
import { watch } from "vue";
import { useLedgerStore } from "../../scripts/store/ledgers";

interface LedgerFilterProps extends FilterProps {
  for: string;
  title: string;
  modelValue: string;
  readOnly: boolean;
}

interface LedgerFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

// Ref to the wrapper elememt
const ledgerDisplayWrapper = ref<HTMLElement | null>(null);

const getPopupContainer = () => {
  if (ledgerDisplayWrapper.value !== null) {
    return ledgerDisplayWrapper.value;
  }

  return document.body;
};

const props = defineProps<LedgerFilterProps>();
const emit = defineEmits<LedgerFilterEmits>();

const ledger = ref<number | undefined>();
const ledgerName = computed(() => {
  const ledgerNamesList = ledgerStore.ledgers
    .filter((l) => ledger.value === l.id)
    .map((l) => l.name);

  if (ledgerNamesList.length > 0) {
    return ledgerNamesList[0];
  } else {
    return "Unknown Ledger";
  }
});
const ledgerStore = useLedgerStore();

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  ledger.value = props.modelValue.trim() === "" ? undefined : +props.modelValue;
}

const buttonsDisabled = computed(() => {
  return typeof ledger.value !== "number";
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  emit("update:modelValue", ledger.value + "");
};

const onLedgerChanged = (ledgerId: number) => {
  ledger.value = ledgerId;
  applyFilter();
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  ledger.value = undefined;
  emit("update:modelValue", "");
};

async function created(): Promise<void> {
  mirrorModelValue();
}

created();
</script>

<style lang="sass" scoped>
.buttons
  margin-bottom: 1em

.clear-button
  color: grey
  background-color: grey

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
