<template>
  <BaseNumberFilter v-bind="{ ...$props, ...$attrs }">
    <template #edit="{ value, onChange }">
      <a-input-number
        style="max-width: 50px"
        :defaultValue="0"
        :value="value || 0"
        size="small"
        @change="(val) => onChange(val)"
      />
    </template>

    <template #display="{ value }">
      {{ value }}
    </template>
  </BaseNumberFilter>
</template>

<script setup lang="ts">
import BaseNumberFilter from "./BaseNumberFilter.vue";
</script>
