<template>
  <div v-if="!edit">
    {{ modelValue }}
  </div>
  <div v-else>
    <a-input-number
      :default-value="modelValue"
      :size="size"
      @change="change"
      :disabled="loading"
    />
  </div>
</template>

<script setup lang="ts">
interface NumberDisplayProps {
  modelValue: number;
  edit: boolean;
  loading: boolean;
  size?: "small" | "middle" | "large";
}
interface NumberDisplayEmits {
  (e: "update:modelValue", value: number): void;
}

const props = withDefaults(defineProps<NumberDisplayProps>(), {
  edit: false,
  loading: false,
  size: "middle",
});
const emit = defineEmits<NumberDisplayEmits>();

function change(value: number) {
  emit("update:modelValue", value);
}
</script>
