<template>
  <BaseNumberFilter v-bind="{ ...$props, ...$attrs }">
    <template #edit="{ value, onChange }">
      <PriceDisplay
        :modelValue="value"
        :edit="true"
        @update:modelValue="(val) => onChange(val)"
        :min="0"
      />
    </template>

    <template #display="{ value }">
      {{ priceStr(value) }}
    </template>
  </BaseNumberFilter>
</template>

<script setup lang="ts">
import BaseNumberFilter from "./BaseNumberFilter.vue";
import PriceDisplay from "./PriceDisplay.vue";
import { priceStr } from "../../scripts/util";
</script>
