<template>
  <SchemaSelectFilter
    v-bind="{ ...$props, ...$attrs }"
    :modelValue="modelValue"
    @update:modelValue="(newValue) => emit('update:modelValue', newValue)"
    @update:record="(newValue) => emit('update:record', newValue)"
    :getPopupContainer="getPopupContainer"
    :readOnly="readOnly"
    filterTitle="SEPA Batch"
    labelField="description"
    keyField="id"
    endpoint="/api/admin/sepa_batches/"
    placeholder="No batch selected"
    :display-component="markRaw(SepaDisplay)"
  >
  </SchemaSelectFilter>
</template>

<script setup lang="ts">
import SchemaSelectFilter from "../datatable/SchemaSelectFilter.vue";
import SepaDisplay from "./SepaDisplay.vue";
import { markRaw } from "vue";

interface SepaFilterProps {
  for: string;
  readOnly: boolean;

  modelValue: string;
  initialValue?: Record<string, unknown> | Record<string, unknown>[];

  edit?: boolean;
  mode?: "multiple" | "tags";

  size?: "small" | "default" | "middle" | "large";
  getPopupContainer?: () => HTMLElement;

  requestParameters?: Record<string, string>;
}

interface SepaFilterEmits {
  (e: "update:modelValue", value: number | number[] | null): void;
  (
    e: "update:record",
    value: Record<string, unknown> | Record<string, unknown>[] | null
  ): void;
}

const emit = defineEmits<SepaFilterEmits>();
const props = withDefaults(defineProps<SepaFilterProps>(), {
  edit: true,
  size: "default",
  getPopupContainer: () => document.body,
});
</script>
