<template>
  <SchemaSelectDisplay
    v-bind="{ ...$props, ...$attrs }"
    :modelValue="modelValue"
    @update:modelValue="(newValue) => emit('update:modelValue', newValue)"
    @update:record="(newValue) => emit('update:record', newValue)"
    :getPopupContainer="getPopupContainer"
    endpoint="/api/admin/sepa_batches/"
    label-field="description"
    key-field="id"
    placeholder="Enter text to search for SEPA batches"
  >
    <template #display="{ values }">
      {{ values.map((lv) => lv.description).join(", ") }}
    </template>
  </SchemaSelectDisplay>
</template>

<script setup lang="ts">
import SchemaSelectDisplay from "../datatable/SchemaSelectDisplay.vue";

type ItemKey = number | string;

interface SepaDisplayProps {
  modelValue: ItemKey | ItemKey[] | null;
  initialValue?: Record<string, unknown> | Record<string, unknown>[];

  edit?: boolean;
  mode?: "multiple" | "tags";

  size?: "small" | "default" | "middle" | "large";
  getPopupContainer?: () => HTMLElement;

  requestParameters?: Record<string, string>;
}

interface SepaDisplayEmits {
  (e: "update:modelValue", value: number | number[] | null): void;
  (
    e: "update:record",
    value: Record<string, unknown> | Record<string, unknown>[] | null
  ): void;
}

const emit = defineEmits<SepaDisplayEmits>();
const props = withDefaults(defineProps<SepaDisplayProps>(), {
  edit: true,
  size: "default",
  getPopupContainer: () => document.body,
});
</script>
