<template lang="pug">
Suspense
  template(v-if="!error", #default)
    a-tab-pane(v-bind="{ ...$props, ...$attrs }")
      slot
  template(v-if="!error", #fallback)
    a-tab-pane(v-bind="{ ...$props, ...$attrs }")
      LoadingContainer(:active="true", style="height: 400px")
  template(v-if="error")
    a-tab-pane(v-bind="{ ...$props, ...$attrs }")
      a-result(
        status="warning",
        :title="props.errorMessage",
        :subTitle="props.errorSubtitle"
      )
</template>

<script setup lang="ts">
import { Suspense, onErrorCaptured, ref } from "vue";
import LoadingContainer from "../loading_container.vue";

interface SuspendedTabPaneProps {
  errorMessage?: string;
  errorSubtitle?: string;
}

const props = withDefaults(defineProps<SuspendedTabPaneProps>(), {
  errorMessage: "This page could not be loaded.",
});
const error = ref(false);

onErrorCaptured((err) => {
  error.value = true;
  console.error("Captured Error:", err);
  return false;
});
</script>
