<template lang="pug">
a-card
  template(#cover)
    .chart-area
      .chart-container(
        v-if="status === 'success' && hasData",
        :style="{ height: status === 'success' && hasData ? '60vh' : undefined }"
      )
        ExactCardTransactionsChart(
          :cumulative="formState.cumulative",
          :cardOrdersByDay="dailyOrders",
          :bankTransactions="dailyTransactions"
        )
      a-empty(
        v-else-if="status === 'success' && !hasData",
        :description="`No transactions in this period for '${data?.result.account.name}'.`"
      )
      a-skeleton.loading(
        v-if="status === 'loading'",
        :active="true",
        :paragraph="true"
      )
      a-result(
        type="error",
        v-if="status === 'error'",
        subTitle="Failed to retrieve data."
      )

  a-card-meta
    template(#title)
      span Revenue Comparison
    template(#description)
      p(style="color: rgba(0, 0, 0, 0.65)") This chart shows the daily (and cumulative) difference between revenue
        |
        | reported in this system versus the revenue as reported in Exact Online.

      ul
        li For product ledgers, the difference between these two data points can help
          | you find ledgers with a large amount of profit or loss.

        li
          p For income ledgers, the discrepancy between these two data points shows there
            | are missing transactions in the system on that day. This usually indicates
            | that people paid for products, but they were not entered in the system.
            | This is especially prevelant for card transactions, since it is easy to
            | pay by pin and forget to hit buy on the iPad.
            |
          p(style="font-weight: bolder; color: black") Note: a high amount of missing transactions means we are not paying proper taxes on those products!

      a-form(:wrapperCol="wrapperCol", :labelCol="labelCol")
        a-form-item(key="year", label="Year")
          YearFilter(
            for="",
            title="",
            :readOnly="false",
            v-model="formState.year"
          )
        a-form-item(key="account", label="Ledger Account")
          AccountDisplay(
            style="width: 175px",
            :edit="true",
            placeholder="Income - Card",
            v-model="formState.account",
            :requestParameters="{ typeFilter: accountDisplayTypeFilter, deletedFilter: 'false' }"
          )
        a-form-item(key="cumulative", label="Cumulative")
          a-switch(v-model:checked="formState.cumulative")
</template>

<script setup lang="ts">
import { computed } from "@vue/reactivity";
import dayjs from "dayjs";
import ExactCardTransactionsChart from "../admin/exact/ExactCardTransactionsChart.vue";
import { useQuery } from "@tanstack/vue-query";
import { exactComparisonApi } from "./ExactComparisonApi";
import YearFilter from "../common/YearFilter.vue";
import { useRouteQuery } from "@vueuse/router";
import AccountDisplay from "../account/AccountDisplay.vue";
import { useFormSizes } from "../../scripts/composables/form";
import { reactive } from "vue";

const accountDisplayTypeFilter = JSON.stringify([
  "product_ledger",
  "income_ledger",
]);

const { labelCol, wrapperCol } = useFormSizes();

const formState = reactive({
  year: useRouteQuery("year", dayjs().startOf("year").year() + ""),
  account: useRouteQuery("account", null),
  cumulative: true,
});

const { status, data, refetch } = useQuery({
  queryKey: [
    "exact/comparison",
    computed(() => formState.year),
    computed(() => formState.account),
  ],
  queryFn: () => {
    return exactComparisonApi.getComparison(
      formState.year,
      formState.account ?? undefined
    );
  },
  staleTime: Infinity,
});

const dailyOrders = computed(() => {
  if (!data.value) {
    return [];
  }

  return data.value.result.dailyOrders;
});

const dailyTransactions = computed(() => {
  if (!data.value) {
    return [];
  }

  return data.value.result.dailyTransactions;
});

const hasData = computed(() => {
  return dailyOrders.value.length && dailyTransactions.value.length;
});
</script>

<style lang="sass" scoped>

.chart-area
    margin: 1em auto

.loading
  margin: 1.5em

.explanation-paragraph
    padding: 0 0.5em 0 0
</style>
