<template lang="pug">
.admin-container
  .navbar
    .icon.icon--menu(@click="showSidebar = true")

  .admin-view
    sidebar(
      v-bind:class="{ show: showSidebar }",
      @cancel="showSidebar = false",
      @logout="logout",
      :username="username",
      :page="$route.name"
    )

    RouterView(v-slot="{ Component}")
      template(v-if="Component")
        Suspense
          template(v-if="!error", #default)
            component(:is="Component")
          template(v-if="!error", #fallback)
            LoadingContainer(:active="true", style="height: 400px")
          template(v-if="error")
            a-result(
              style="height: 400px; width: 100%",
              status="error",
              title="The page could not be loaded."
            )
  modal-overlay
</template>

<style lang="sass" scoped>
.admin-container
    height: 100%

.admin-view
    display: flex
    flex-flow: row
    height: 100%
</style>

<script setup lang="ts">
import Sidebar from "../sidebar.vue";
import LoadingContainer from "../loading_container.vue";
import ModalOverlay from "../purchase/modal_overlay.vue";
import { useRoute } from "vue-router";
import { ref, watch, Suspense, onErrorCaptured } from "vue";

const showSidebar = ref<boolean>(false);
const username = ref<string>(localStorage.getItem("username") || "");
const route = useRoute();
watch(
  () => route.name,
  () => (showSidebar.value = false)
);

const error = ref(false);

onErrorCaptured((err) => {
  error.value = true;
});

function logout() {
  localStorage.removeItem("access_token");
  location.href = "/login";
}
</script>
