<template lang="pug">
loading-container.admin(:active="requestsActive")
  h1 SEPA batch {{ id ? 'edit' : 'new' }}

  p
    strong Data
    br

    label Description
    input(type="text", v-model="batch.description")

    label Execution Date
    input(type="date", v-model="executionDate")

    p(v-if="id")
      input(
        type="submit",
        value="Execute",
        @click="clickExecute",
        :disabled="batch.success || !batch.mailDate",
        :title="!batch.mailDate ? 'Mail before executing' : ''"
      )
      input(type="submit", value="XML", @click="clickXml")
      input(type="submit", value="CSV", @click="clickCsv")
      a-popconfirm(title="Are you sure?", @confirm="email")
        input(
          type="submit",
          value="E-mail",
          :disabled="!!batch.mailDate || !!batch.deletedAt",
          :title="!batch.mailDate ? 'Notify all direct debet users' : ''"
        )

  p(v-if="!batch.success") Total: {{ priceStr(totalBalance) }}
  table.table(v-if="!id || !batch.success")
    colgroup
      col.column--name
      col.column--balance
      col.column--direct-debit
      col.column--select(v-if="id === null")
      col.column--delete(v-if="!batch.success")

    thead
      tr
        th Name
        th Balance
        th SEPA
        th(v-if="id === null") Selected
        th(v-if="id !== null && !batch.success") Delete

    tbody
      tr(
        v-for="obj in accounts",
        :class="{ deleted: obj.order && obj.order.deleted }"
      )
        td {{ obj.account.name }}
        td {{ priceStr(id && obj.order ? obj.order.price : obj.account.balance) }}

        td(
          :class="getConflictClasses(obj.account)",
          :title="getConflictMessage(obj.account)"
        )
          | {{ obj.account.directDebit ? 'Yes' : 'No' }}
        td(v-if="id === null")
          input(
            type="checkbox",
            v-model="obj.selected",
            @change="updateTotalBalance",
            :disabled="!obj.account.iban || !obj.account.bic || !obj.account.mandateId || !!id"
          )
        td(v-if="id !== null && !batch.success")
          input.delete(
            type="button",
            v-if="!obj.order?.deleted",
            value="",
            @click="deleteOrder(obj.account.id)"
          )
  p
    input(
      type="submit",
      value="Save",
      @click="submit",
      :disabled="!batch.description || batch.success"
    )
    router-link.button.secondary(to="/admin/direct_debit") Cancel

  TransactionsTable(
    v-if="id && batch.success",
    :showButtons="true",
    :filters="['Date', 'Account', 'Products', 'Flow', 'Method', 'Deleted']",
    endpoint="/api/admin/v2/transactions/",
    :showAccountNames="true",
    :hiddenQueryParameters="{ sepaBatchFilter: id + '' }"
  )
</template>

<style lang="sass" scoped>
@import "../../styles/admin.sass"
@import "../../styles/_colors.sass"

input[type="text"],
select
    width: 350px

.column--name
    width: auto

.column--balance
    width: 100px

.column--direct-debit,
.column--event
    width: 80px

.column--select
  width: 110px

.deleted
  opacity: 0.3
  text-decoration: line-through

.error
  font-weight: bold
  color: $flat-red-2
  text-decoration-color: $flat-red-2

.warning
    font-weight: bold
    color: $flat-orange-2
    text-decoration-color: $flat-orange-2
</style>

<script setup lang="ts">
import {
  createDownload,
  priceStr,
  showError,
  showMessage,
  useAdminRequests,
} from "../../scripts/util";
import type { Account } from "../../scripts/types";
import { SepaBatch } from "../../scripts/admin_types";
import * as IbanTools from "ibantools";
import { SepaApi, sepaApi } from "../../scripts/api/sepa";
import type { BatchAccountOrder } from "../../scripts/api/sepa";
import LoadingContainer from "../loading_container.vue";
import { useRoute, useRouter } from "vue-router";
import { reactive, ref, computed, onMounted } from "vue";
import TransactionsTable from "../transactions/TransactionsTable.vue";

const batch = reactive<SepaBatch & { accounts?: any }>({
  ...new SepaBatch(),
  accounts: [],
});
const executionDate = ref<string>(new Date().toISOString().split("T")[0]);
const accounts = ref<(BatchAccountOrder & { selected: boolean })[]>([]);
const route = useRoute();
const router = useRouter();
const totalBalance = ref(0);
const { requestsActive, requestWith } = useAdminRequests();

const id = computed<number | null>(() => {
  if (!Array.isArray(route.params.batchId)) {
    const parsedId = parseInt(route.params.batchId, 10);
    if (!isNaN(parsedId)) {
      return parsedId;
    }
  }
  return null;
});
function getConflictClasses(account: Account): object {
  const ibanValid = account.iban && IbanTools.isValidIBAN(account.iban);
  const bicValid = account.bic && IbanTools.isValidBIC(account.bic);
  const valid =
    account.mandateId && account.iban && account.bic && ibanValid && bicValid;

  return {
    // This boolean logic works because the warning class overwrites the error class
    error: !account.directDebit || !valid,
    warning: !account.directDebit && valid,
  };
}

function getConflictMessage(account: Account): string {
  const ibanValid = account.iban && IbanTools.isValidIBAN(account.iban);
  const bicValid = account.bic && IbanTools.isValidBIC(account.bic);

  if (
    account.directDebit &&
    account.mandateId &&
    account.iban &&
    account.bic &&
    ibanValid &&
    bicValid
  ) {
    return "";
  }

  return `SEPA: ${account.directDebit}
IBAN: ${account.iban}${!ibanValid ? " (INVALID)" : ""}
BIC: ${account.bic}${!bicValid ? " (INVALID)" : ""}
MANDATE: ${account.mandateId}`;
}

function updateTotalBalance(): void {
  let tot = 0;
  for (const account of accounts.value) {
    if (id.value) {
      tot += account.order ? account.order.price : 0;
    } else {
      tot += account.selected ? account.account.balance : 0;
    }
  }
  totalBalance.value = tot;
}

function getSelectedAccountIds(): number[] {
  const arr: number[] = [];

  accounts.value.forEach((obj: BatchAccountOrder & { selected: boolean }) => {
    if (obj.selected) {
      arr.push(obj.account.id);
    }
  });
  return arr;
}

onMounted(async () => {
  await update();
});
async function update() {
  let accountsResp: BatchAccountOrder[];
  if (id.value !== null) {
    const batchResp = await requestWith(sepaApi.batch(id.value));
    Object.assign(batch, batchResp.result.batch);
    accountsResp = batchResp.result.accounts;
  } else {
    let accountsPromise: Awaited<ReturnType<SepaApi["eligibleAccounts"]>>;
    accountsPromise = await requestWith(sepaApi.eligibleAccounts());
    accountsResp = accountsPromise.result.accounts;
    batch.executionDate = new Date();
  }
  executionDate.value = new Date(batch.executionDate)
    .toISOString()
    .split("T")[0];

  accounts.value = accountsResp as (BatchAccountOrder & {
    selected: boolean;
  })[];

  accounts.value.forEach((obj: BatchAccountOrder & { selected: boolean }) => {
    if (
      id.value === null &&
      obj.account.directDebit &&
      obj.account.iban &&
      obj.account.bic &&
      obj.account.mandateId
    ) {
      obj.selected = true;
    }
  });
  updateTotalBalance();
}

async function submit() {
  batch.executionDate = new Date(executionDate.value);
  try {
    if (id.value === null) {
      batch.accounts = getSelectedAccountIds();
      await requestWith(sepaApi.createBatch(batch));
    }
    // TODO Update batch https://gitlab.com/studieverenigingvia/point-of-sale-server/-/issues/206
    router.push("/admin/direct_debit/");
  } catch (e) {
    showError(e);
  }
}

async function clickExecute() {
  if (!id.value) {
    return;
  }

  const conf = confirm(
    "Executing is permanent. Only individual transactions can be deleted."
  );

  if (!conf) {
    return;
  }

  try {
    await requestWith(sepaApi.executeBatch(id.value));
    await update();
  } catch (e) {
    showError(e);
  }
}

async function clickXml() {
  if (!id.value) {
    return;
  }

  try {
    const resp = await requestWith(sepaApi.xmlDownload(id.value));

    createDownload("directdebit.xml", resp);
  } catch (e) {
    showError(e);
  }
}

async function clickCsv() {
  if (!id.value) {
    return;
  }

  try {
    const resp = await requestWith(sepaApi.csvDownload(id.value));

    createDownload("directdebit.csv", resp);
  } catch (e) {
    showError(e);
  }
}

async function deleteOrder(accountId: number) {
  if (!id.value) {
    return;
  }

  try {
    await requestWith(sepaApi.deleteOrder(id.value, accountId));
    await update();
  } catch (e) {
    showError(e);
  }
}

async function email() {
  if (!id.value) {
    return;
  }

  try {
    const resp = await requestWith(sepaApi.emailBatch(id.value));
    batch.mailDate = new Date();
    showMessage(`SEPA mail sent to ${resp.result.mailCount} recipients.`);
  } catch (e) {
    showError(e);
  }
}
</script>
