<template lang="pug">
loading-container.admin(:active="requestsActive")
  a-tabs(@change="(k) => (currentTab = k)", :activeKey="currentTab")
    a-tab-pane(tab="Invoices", key="invoices")
      invoice-table

    a-tab-pane(tab="Upload invoice", key="parser")
      invoice-upload
</template>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.divisions
  margin: 0.5em

.admin
  padding: 1em
  margin-bottom: 1em
</style>

<script setup lang="ts">
import LoadingContainer from "../loading_container.vue";
import InvoiceUpload from "./invoice/InvoiceUpload.vue";
import { useAdminRequests } from "../../scripts/util";
import InvoiceTable from "./invoice/InvoiceTable.vue";
import { useRouteQuery } from "@vueuse/router";
import { type Key } from "ant-design-vue/es/table/interface";

const { requestsActive, requestWith } = useAdminRequests();
const currentTab = useRouteQuery<Key>("tab", "invoices");
</script>
