<template>
  <a-table
    class="order-table"
    size="small"
    row-key="id"
    :row-class-name="() => 'data-row'"
    :bordered="false"
    :columns="columns"
    :data-source="orders.sort((a, b) => a.id - b.id)"
    :pagination="false"
  >
    <template #method="{ record }">
      <span v-if="record.register === 'default'">
        {{ transactionMethodName(record.method) }}
      </span>
      <a-popover v-else>
        <template #content> This order is from a pending register </template>
        <template #default>
          <a-tag color="blue">
            {{ transactionMethodName(record.method) }}
          </a-tag>
        </template>
      </a-popover>
    </template>
    <template #account="{ record }">
      <router-link
        v-if="linkToAccounts && record.account?.name"
        :to="`/admin/accounts/${record.account?.id}`"
      >
        {{ record.account?.name ?? "" }}
      </router-link>
      <span v-else-if="record.account?.name">
        {{ record.account?.name ?? "" }}
      </span>
    </template>
    <template #product="{ record }">
      {{ record.product?.name ?? "" }}
    </template>
    <template #credit="{ record }">
      <PriceDisplay
        v-if="record.price < 0"
        :modelValue="-record.price"
        :edit="false"
      />
    </template>
    <template #debit="{ record }">
      <PriceDisplay
        v-if="record.price > 0"
        :modelValue="record.price"
        :edit="false"
      />
    </template>
  </a-table>
</template>

<style lang="sass" scoped>

.order-table
  padding: 0 2em

.order-table :deep(.data-row) td
  background-color: #fafafa

.order-table :deep(.striped) td
  background-color: #f3f3f5

.order-table :deep(thead) th
  background-color: #fafafa
  border-top: none
  border-left: none
  border-right: none
</style>
<script setup lang="ts">
import { transactionMethodName } from "../../scripts/transaction";
import type { Transaction } from "../../scripts/types";
import { TransactionStatus } from "../../scripts/types";
import PriceDisplay from "../common/PriceDisplay.vue";
import { computed } from "@vue/reactivity";

interface OrderTableProps {
  transaction: Transaction;
  linkToAccounts: boolean;
}

const columns = [
  { title: "Method", slots: { customRender: "method" } },
  { title: "Account", slots: { customRender: "account" } },
  { title: "Product", slots: { customRender: "product" } },
  { title: "Credit", slots: { customRender: "credit" } },
  { title: "Debit", slots: { customRender: "debit" } },
];

const orders = computed(() => {
  if (
    props.transaction.status == TransactionStatus.PENDING ||
    props.transaction.status == TransactionStatus.EXPIRED ||
    props.transaction.status == TransactionStatus.CANCELLED ||
    props.transaction.status == TransactionStatus.DELETED
  ) {
    return props.transaction.orders;
  } else {
    return props.transaction.orders.filter(
      (order) => order.register == "default"
    );
  }
});

const props = defineProps<OrderTableProps>();
</script>
