<template>
  <span class="products">
    <template v-for="p in products">
      <span :class="{ 'top-up': p === 'Top-up', deduction: p === 'Deduction' }">
        {{ p }}
      </span>
    </template>
  </span>
</template>
<style lang="sass" scoped>
@import "../../styles/_colors.sass"

.products span:not(:last-child):after
  content: ', '

.top-up
  color: rgb(49, 151, 32)

.deduction
  color: $flat-red-2
</style>
<script setup lang="ts">
import { computed } from "@vue/reactivity";
import type { DisplayProps } from "../../scripts/DataTableTypes";
import type { Order } from "../../scripts/types";

interface OrderSummaryProductDisplayProps extends DisplayProps {
  modelValue: Order[];
}

const props = withDefaults(defineProps<OrderSummaryProductDisplayProps>(), {
  edit: false,
  loading: false,
});

const products = computed(() => {
  const containsDefaultRegister = props.modelValue.some(
    (o) => o.register === "default"
  );

  return props.modelValue.flatMap((o) => {
    if (o.register !== "default" && containsDefaultRegister) {
      return [];
    }

    if (o.product) {
      return o.product.name;
    }

    if (o.type === "ACCOUNT_TOP_UP_OR_ACCOUNT_PAYMENT" && o.price < 0) {
      return "Top-up";
    }

    if (o.type === "DIRECT_PAYMENT" && o.price < 0) {
      return "Deduction";
    }

    return [];
  });
});
</script>
