<template>
  <span>
    <span v-if="purchaserAccount">
      Account
      <router-link
        v-if="showAccountNames"
        :to="`/admin/accounts/${purchaserAccount.id}`"
      >
        ({{ purchaserAccount.name }})
      </router-link>
      <span v-if="transaction.flow !== TransactionFlowType.ACCOUNT_PAYMENT">
        / {{ transactionFlowName(transaction.flow) }}
        <span class="reason" v-if="transactionReason"
          >({{ transactionReason }})</span
        >
      </span>
    </span>
    <span v-else>
      {{ transactionFlowName(transaction.flow) }}
      <span class="reason" v-if="transactionReason"
        >({{ transactionReason }})</span
      >
    </span>
  </span>
</template>
<style lang="sass" scoped>
.reason
  font-style: italic
  color: dimgray
</style>
<script setup lang="ts">
import { computed } from "@vue/reactivity";
import {
  transactionFlowName,
  transactionMethodName,
} from "../../scripts/transaction";
import type { DisplayProps } from "../../scripts/DataTableTypes";
import type { Order, Transaction } from "../../scripts/types";
import { TransactionFlowType } from "../../scripts/types";

interface OrderSummaryMethodDisplayProps extends DisplayProps {
  transaction: Transaction;
  showAccountNames?: boolean;
}

const props = withDefaults(defineProps<OrderSummaryMethodDisplayProps>(), {
  edit: false,
  loading: false,
});

const transactionReason = computed(() => {
  return props.transaction.reason;
});

const purchaserAccount = computed(() => {
  return (
    props.transaction.orders.find((o) => !o.account.ledgerAccount)?.account ??
    undefined
  );
});
</script>
