<template lang="pug">
DataTable(
  :endpoint="endpoint",
  row-key="id",
  size="small",
  :column-mapping="columnMapping",
  :scroll="{ x: true }",
  :filter-definition="filterDefinition",
  :hiddenQueryParameters="hiddenQueryParameters",
  search-placeholder="Search for transaction reasons"
)
  template(#prop-createdAt="{ record, context }")
    a-popover(placement="right")
      template(#content)
        span {{ stateText[record.status] }} {{ isoDateStringToLocale(record.createdAt) }}.
      a-tag(:color="stateColors[record.status]") {{ isoDateStringToLocale(record.createdAt) }}
        template(#icon)
          ClockCircleOutlined(
            v-if="record.status === TransactionStatus.PENDING"
          )
          CloseCircleOutlined(
            v-else-if="record.status === TransactionStatus.CANCELLED"
          )
          ExclamationCircleOutlined(
            v-else-if="record.status === TransactionStatus.EXPIRED"
          )
          DeleteOutlined(
            v-else-if="record.status === TransactionStatus.DELETED"
          )

  template(#prop-flow="{ record }")
    OrderSummaryMethodDisplay(
      :transaction="record",
      :showAccountNames="showAccountNames",
      :edit="false",
      :loading="false"
    )

  template(v-if="showButtons", #expandedRowRender=" { record }")
    OrderTable(:transaction="record", :linkToAccounts="showAccountNames")

  template(v-if="showButtons", #row-buttons="{ record, context, loading }")
    a-button-group(size="small", @click.stop.prevent="() => {}")
      a-popconfirm(
        placement="left",
        @confirm="() => deleteTransaction(context, record)",
        :disabled="!!record.deletedAt || record.status === TransactionStatus.PENDING"
      )
        //TODO: It is possible to delete ideal transactions, but you will not get a refund from mollie
        // This is also the case for cancelling pending transactions that already went to the PIN
        template(#title)
          div Are you sure? Deleting a
          div transaction cannot be undone.
        a-button(
          :loading="loading",
          :disabled="!!record.deletedAt || record.status === TransactionStatus.PENDING"
        ) Delete
</template>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>

<script setup lang="ts">
import DataTable from "../datatable/DataTable.vue";
import type {
  ColumnMapping,
  DataTableContext,
  FilterDefinition,
} from "../../scripts/DataTableTypes";
import { markRaw } from "vue";
import type { Transaction } from "../../scripts/types";
import { TransactionStatus } from "../../scripts/types";
import { transactionsApi } from "../../scripts/api/transactions";
import OrderSummaryPriceDisplay from "./OrderSummaryPriceDisplay.vue";
import OrderSummaryProductDisplay from "./OrderSummaryProductDisplay.vue";
import OrderSummaryMethodDisplay from "./OrderSummaryMethodDisplay.vue";
import BooleanFilter from "../../components/common/BooleanFilter.vue";
import OrderTable from "./OrderTable.vue";
import AccountFilter from "../../components/account/AccountFilter.vue";
import ProductFilter from "../products/ProductFilter.vue";
import DateTimeFilter from "../../components/common/DateTimeFilter.vue";
import TransactionFlowFilter from "./TransactionFlowFilter.vue";
import SepaFilter from "../common/SepaFilter.vue";
import { notification } from "ant-design-vue";

type FilterName =
  | "Date"
  | "Account"
  | "Products"
  | "Flow"
  | "Deleted"
  | "Sepa Batch";

interface TransactionsTableProps {
  showButtons?: boolean;
  showAccountNames?: boolean;
  filters?: FilterName[];
  endpoint?: "/api/admin/v2/transactions/" | "/api/transactions/";
  hiddenQueryParameters?: Record<string, string>;
}

const props = withDefaults(defineProps<TransactionsTableProps>(), {
  showButtons: false,
  showAccountNames: false,
  filters: () => ["Date", "Flow", "Deleted"],
  endpoint: "/api/transactions/",
});

const filterDefinition: FilterDefinition[] = [
  {
    title: "Date",
    query: "createdAtFilter",
    component: markRaw(DateTimeFilter),
  },
  {
    title: "Account",
    query: "accountFilter",
    component: markRaw(AccountFilter),
  },
  {
    title: "Products",
    query: "productFilter",
    component: markRaw(ProductFilter),
  },
  {
    title: "Flow",
    query: "flowFilter",
    component: markRaw(TransactionFlowFilter),
  },
  {
    title: "Deleted",
    query: "deletedFilter",
    component: markRaw(BooleanFilter),
  },
  {
    title: "Sepa Batch",
    query: "sepaBatchFilter",
    component: markRaw(SepaFilter),
  },
].filter((f) => props.filters.indexOf(f.title as FilterName) !== -1);

const columnMapping: ColumnMapping = {
  createdAt: {
    title: "Date",
    align: "left",
    sort: "created_at",
  },
  flow: {
    title: "Flow",
    align: "left",
    columnDataKey: "orders",
  },
  products: {
    title: "Products",
    align: "right",
    columnDataKey: "orders",
    component: markRaw(OrderSummaryProductDisplay),
  },
  price: {
    title: "Price",
    align: "right",
    columnDataKey: "orders",
    component: markRaw(OrderSummaryPriceDisplay),
  },
} as const;

const isoDateStringToLocale = (date: string) => {
  return new Date(date).toLocaleString("nl-NL", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
    hour: "2-digit",
    minute: "2-digit",
  });
};

async function deleteTransaction(
  context: DataTableContext,
  record: Transaction
) {
  context.setIsLoading(record, true);

  try {
    const resp = await transactionsApi.adminDeleteTransaction(record.id);
    record.deletedAt = resp.result.transaction.deletedAt;
    record.deleted = resp.result.transaction.deleted;
    record.status = resp.result.transaction.status;
  } catch (error) {
    notification.error({
      message: "Failed to delete transaction",
      description: `(${error.errorCode}/${error.errorIdentifier}): ${error.errorMessage}`,
    });
  }

  context.setIsLoading(record, false);
}

const stateColors = {
  [TransactionStatus.PENDING]: "blue",
  [TransactionStatus.EXPIRED]: "red",
  [TransactionStatus.CANCELLED]: "error",
  [TransactionStatus.DELETED]: "error",
};

const stateText = {
  [TransactionStatus.PENDING]: "Transaction is pending since",
  [TransactionStatus.EXPIRED]: "Transaction expired on",
  [TransactionStatus.CANCELLED]: "Transaction was cancelled on",
  [TransactionStatus.DELETED]: "Transaction was deleted on",
  [TransactionStatus.COMPLETED]: "Transaction was successful on",
};
</script>
