<template>
  <div v-if="!props.readOnly">
    <a-radio-group
      v-model:value="selectedTransactionType"
      class="radio-buttons"
    >
      <a-radio
        v-for="transactionFlow in TransactionFlowType"
        :style="style"
        :value="transactionFlow"
        :key="transactionFlow"
      >
        {{ transactionFlowName(transactionFlow) }}
      </a-radio>
    </a-radio-group>
    <a-button-group class="buttons" size="small">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>
  </div>
  <span v-else>
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ props.for }}</span>
      <span class="space">is</span>
      <span class="bold-span">
        '{{ transactionFlowName(selectedTransactionType ?? "") }}'
      </span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterEmits, FilterProps } from "../../scripts/DataTableTypes";
import { watch } from "vue";
import { transactionFlowName } from "../../scripts/transaction";
import { TransactionFlowType } from "../../scripts/types";

interface TransactionFlowFilterProps extends FilterProps {
  for: string;
  title: string;
  modelValue: string;
  readOnly: boolean;
}

interface OrderMethodFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

const props = defineProps<TransactionFlowFilterProps>();
const emit = defineEmits<OrderMethodFilterEmits>();

const selectedTransactionType = ref<string | undefined>(props.modelValue);

watch([props], () => {
  mirrorModelValue();
});

function mirrorModelValue() {
  if (props.modelValue === "") {
    selectedTransactionType.value = undefined;
  } else {
    selectedTransactionType.value = (
      JSON.parse(props.modelValue) + ""
    ).toLowerCase();
  }
}

const buttonsDisabled = computed(() => {
  return !selectedTransactionType.value;
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  emit(
    "update:modelValue",
    JSON.stringify(selectedTransactionType.value) ?? ""
  );
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }
  selectedTransactionType.value = "";
  emit("update:modelValue", "");
};

const style = {
  display: "block",
  height: "25px",
  width: "200px",
};

mirrorModelValue();
</script>

<style lang="sass" scoped>

.buttons
  margin-top: 1em

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
