<template lang="pug">
DataTable(
  endpoint="/api/admin/slides/",
  row-key="id",
  size="small",
  :column-mapping="columnMapping",
  :filter-definition="filterDefinition",
  :scroll="{ x: true }"
)
  template(#prop-product=" { record, context }")
    ProductDisplay(
      v-model="record.product.id",
      :edit="context.isEditing(record)",
      :loading="context.isLoading(record)",
      :initialValue="record.product",
      size="small"
    )

  template(#row-buttons="{ record, context, loading }")
    a-button-group(v-if="!context.isEditing(record)", size="small")
      a-button(
        type="primary",
        @click="() => context.startEdit(record)",
        :disabled="record.deleted"
      ) Edit
      a-popconfirm(
        title="Are you sure?",
        @confirm="() => deleteSlideProduct(context, record)"
      )
        a-button(:loading="loading", :disabled="record.deleted") Delete
    a-button-group(v-else, size="small")
      a-button(
        :key="record.id",
        type="primary",
        :loading="loading",
        @click="() => saveSlideProduct(context, record)"
      ) Save
      a-button(@click="() => context.cancelEdit()") Cancel

  template(#buttons="{ context }")
    .buttons
      a-button(@click="context.addItem(createNewSlideProduct())") Add Item
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";

import DataTable from "../datatable/DataTable.vue";
import ProductDisplay from "../products/ProductDisplay.vue";
import NumberDisplay from "../common/NumberDisplay.vue";
import BooleanDisplay from "../common/BooleanDisplay.vue";
import StringDisplay from "../common/StringDisplay.vue";

import type {
    ColumnMapping,
    DataTableContext,
} from "../../scripts/DataTableTypes";
import { NEW_ITEM_KEY } from "../../scripts/DataTableTypes";
import { PydanticError } from "../../scripts/api/api";
import { markRaw } from "vue";
import BooleanFilter from "../common/BooleanFilter.vue";
import ProductFilter from "../products/ProductFilter.vue";
import { type NewSlideProduct, type SlideProduct, slidesApi } from "../../scripts/api/slides";

const filterDefinition = [
    {
        title: "Product",
        query: "productFilter",
        component: markRaw(ProductFilter),
    },
    {
        title: "Shown",
        query: "showFilter",
        component: markRaw(BooleanFilter),
    },
    {
        title: "Trends",
        query: "trendsFilter",
        component: markRaw(BooleanFilter),
    },
    {
        title: "Spacing",
        query: "spacingFilter",
        component: markRaw(BooleanFilter),
    },
];

const columnMapping: ColumnMapping = {
    product: {
        title: "Product",
    },
    name: {
        title: "Name Override",
        component: markRaw(StringDisplay),
    },
    weight: {
        component: markRaw(NumberDisplay),
    },
    order: {
        component: markRaw(NumberDisplay),
    },
    show: {
        title: "Shown",
        align: "right",
        component: markRaw(BooleanDisplay),
    },
    trends: {
        title: "Trends",
        align: "right",
        component: markRaw(BooleanDisplay),
    },
    spacing: {
        title: "Spacing",
        align: "right",
        component: markRaw(BooleanDisplay),
    },
} as const;

function createNewSlideProduct(): NewSlideProduct {
    return {
        name: "",
        weight: 1,
        order: 1,
        show: true,
        trends: true,
        spacing: false,
        product: {
            id: null,
        }
    }
}

async function saveSlideProduct(context: DataTableContext, record: SlideProduct) {
    context.setIsLoading(record, true);

    try {
        let slideProduct: SlideProduct;
        let verb: "created" | "updated";
        if (record.id === NEW_ITEM_KEY) {
            slideProduct = await slidesApi.postSlideProduct(record);
            verb = "created";
        } else {
            slideProduct = await slidesApi.putSlideProduct(record);
            verb = "updated";
        }
        context.saveEdit(slideProduct, record.id);

        notification.success({
            message: `Slide product saved.`,
            description: `'${record.name}' has been ${verb}.`,
        });
    } catch (e: unknown) {
        notification.error({
            message: `Failed to update slide product.`,
            description: !(e instanceof PydanticError) ? "Unknown error." : e.toDiv(),
        });
    } finally {
        context.setIsLoading(record, false);
    }
}

async function deleteSlideProduct(context: DataTableContext, record: SlideProduct) {
    context.setIsLoading(record, true);
    await slidesApi.deleteSlideProduct(record.id);
    context.deleteItem(record.id);
    context.setIsLoading(record, false);
}
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
