<template lang="pug">
.gauge
  .gauge-content
    .border
    .content-container
      .content
        animated-number(:duration="5.0", :value="props.value", :fraction="0")
    .needle-container
      .needle(:style="{ transform: 'rotate(' + needlePosition() + 'deg)' }")

  .gauge-description
    | {{ props.description }}
</template>

<script lang="ts" setup>
import AnimatedNumber from "./AnimatedNumber.vue";

interface SpeedGaugeProps {
  value: number;
  maxValue: number;
  description: string;
}

const props = defineProps<SpeedGaugeProps>();

const needlePosition = () => {
  const value = Math.max(0.0, Math.min(1.0, props.value / props.maxValue));
  return 45 + value * 270;
};
</script>

<style lang="sass" scoped>
@import "../../styles/gauge.sass"

.gauge-content
  position: relative

.content-container
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0

  .content
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: flex-end
    padding-bottom: 1.3em

    font-size: 1.8em
    color: #ffffff

.needle-container
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  clip-path: circle(45% at center)
  transform: rotate(140deg)
  transform-origin: center center
  animation: wiggle 2s 0s ease-in-out infinite

.needle
  position: relative
  left: 50%
  top: calc(50% - 2.5px)
  width: 5px
  height: 40%
  background: #ffffff
  border-radius: 2px
  overflow: hidden
  transform: rotate(45deg)
  transform-origin: top center
  transition: transform 2s

.border
  position: absolute
  width: 100%
  height: 100%
  border-radius: 50%
  border: 6px solid #ffffff
  clip-path: polygon(100% 0, 100% 100%, 50% 50%, 0 100%, 0 0)

@keyframes wiggle
  0%
    transform: rotate(0deg)
  25%
    transform: rotate(-2deg)
  60%
    transform: rotate(2deg)
  100%
    transform: rotate(0deg)
</style>
