<template>
  <div v-if="!props.readOnly">
    <a-button-group class="buttons" size="small">
      <a-button :disabled="buttonsDisabled" type="primary" @click="applyFilter">
        Apply
      </a-button>
      <a-button :disabled="buttonsDisabled" @click="resetFilter">
        Reset
      </a-button>
    </a-button-group>

    <div style="width: 100%" ref="displayWrapper">
      <component
        :is="displayComponent"
        :modelValue="parsedModelValue"
        size="default"
        :edit="true"
        :loading="false"
        :requestParameters="requestParameters"
        :getPopupContainer="getPopupContainer"
        @update:modelValue="onDisplayComponentChanged"
      />
    </div>
  </div>
  <span v-else-if="!readOnlyDataIsLoading">
    <a-button class="display-button" size="middle" ghost @click="resetFilter">
      <span class="bold-span space">{{ filterTitle }}</span>
      <span class="space"> {{ readOnlyVerb ?? "is" }}</span>
      <span class="bold-span" v-if="readOnlyItem">
        '{{ readOnlyItem[labelField] }}'
      </span>
      <span class="bold-span" v-else><em>not selected</em></span>
      <CloseOutlined />
    </a-button>
  </span>
</template>

<script setup lang="ts">
import { computed, ref } from "@vue/reactivity";
import type { FilterProps, FilterEmits } from "../../scripts/DataTableTypes";
import { useQueryClient } from "@tanstack/vue-query";
import { usePaginatedSearchQuery } from "../../scripts/query/pagination";

type ItemKey = number | string;

interface SchemaSelectFilterProps extends FilterProps {
  /**
   * Backend url that returns a `PaginatedResponse[Record<string, unknown>]` and takes `PageSearchParameters` as query.
   * Must have an `idFilter` LiteralEqualsFilter.
   */
  endpoint: string;

  /**
   * Fields of the returned api object.
   */
  labelField: string;
  /**
   * Key is usually 'id'
   */
  keyField: string;

  filterTitle: string;
  readOnly: boolean;
  readOnlyVerb?: string;

  /**
   * This is the stringified version of the thing we are filtering, e.g. an id. This is
   * the case because we read it from the url in some instances.
   */
  modelValue: string;

  requestParameters?: Record<string, string>;

  displayComponent: unknown;
}

interface SchemaSelectFilterEmits extends FilterEmits {
  (e: "update:modelValue", value: string): void;
}

const props = defineProps<SchemaSelectFilterProps>();
const emit = defineEmits<SchemaSelectFilterEmits>();

const parsedModelValue = computed(() => {
  if (props.modelValue === "") {
    return null;
  }

  const parsed = JSON.parse(props.modelValue);
  if (typeof parsed !== "number" && typeof parsed !== "string") {
    throw new Error(
      "SchemaSelectFilter modelValue should be a string or number."
    );
  }
  return parsed;
});

// This is used to load the item when directly navigation to e.g. /transactions?sepaBatchFilter=1
const {
  data: readOnlyData,
  isLoading: readOnlyDataIsLoading,
} = usePaginatedSearchQuery<Record<string, unknown>>(
  props.endpoint,
  {
    page: 1,
    perPage: 50,
  },
  {
    ...props.requestParameters,
    idFilter: computed(() => props.modelValue),
  },
  {
    queryClient: useQueryClient(),
    enabled: ref(props.readOnly && !!props.modelValue),
    // TODO: We could set queryCacheKey here to get the item from cache.
  }
);

const readOnlyItem = computed(() => {
  if (!readOnlyData.value) {
    return;
  }

  return readOnlyData.value.items.find(
    (i) => i[props.keyField] + "" === props.modelValue
  );
});

const onDisplayComponentChanged = (value?: ItemKey) => {
  if (value) {
    emit("update:modelValue", JSON.stringify(value) + "");
  }
};

const buttonsDisabled = computed(() => {
  return !props.modelValue;
});

const applyFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }

  emit("update:modelValue", props.modelValue);
};

const resetFilter = () => {
  if (buttonsDisabled.value) {
    return;
  }
  emit("update:modelValue", "");
};

const displayWrapper = ref<HTMLElement | null>(null);
const getPopupContainer = () => {
  // Hack to not close filter menu's when hovering the select's options.
  if (displayWrapper.value !== null) {
    return displayWrapper.value;
  }

  return document.body;
};
</script>

<style lang="sass" scoped>
.buttons
  margin-bottom: 1em

.display-button
  white-space: pre
  color: grey
  border-color: grey

.display-button > *:first-child
  text-transform: capitalize

.display-button > *
  font-weight: normal

.space:after
  content: " "

.space-before:before
  content: " "

.bold-span
  font-weight: normal
  color: black
</style>
