{% extends "email/base.html" %}

{% block title -%}
    {{ name }} has requested a Point of Sale account.
{%- endblock %}

{% block content -%}
    <p>
        An account has been requested by {{ name }}.
        Navigate <a href="https://pos.svia.nl/admin/account_requests/">here</a> to approve or deny the request.
    </p>
{%- endblock %}
