{%- if user is defined -%}
    <p>Dear {{ user.name }},</p>
{%- endif -%}

{% block content %}{% endblock %}

<p>
    With kind regards,<br/>
    Point of Sale<br/>
    <small><i>Vereniging Informatiewetenschappen Amsterdam (<b>via</b>)</i></small>
    <br/><br/>
    <img src="cid:{{ get_cid('via_logo') }}" alt="via logo" style="max-width: 100px;"><br/><br/>
    <small><b>T</b> (020) 525 7880</small>
    <br/>
    <small><b>E</b> <a href="mailto:penningmeester@svia.nl">penningmeester@svia.nl</a></small>
    <br/>
    <small><b>W</b> <a href="https://svia.nl/">svia.nl</a></small>
</p>
<p>
    <small>
        This is an automated message send by Point of Sale service from <b>via</b>.
    </small>
</p>
