<template lang="pug">
.admin
  template(v-if="isCreatingNewAccount")
    a-page-header.header(title="Create Account", @back="() => router.back()")
    CreateNewAccount

  template(v-else-if="account && isUserAccount")
    a-page-header.header(
      title="Account Details",
      :subTitle="account.name",
      @back="() => router.back()"
    )
      template(#tags)
        a-tag(color="blue") User Account
      AccountUserHeader(:account="account")
      template(#footer)
        a-tabs(@change="(k) => (currentTab = k)", :activeKey="currentTab")
          a-tab-pane(key="details", tab="Basic Details")
            AccountBasicDetails(v-model="account")
          a-tab-pane(key="topup", tab="Top-up")
            AccountAdminTopUp(v-model="account")
          a-tab-pane(key="sepa", tab="Direct Debit")
            AccountDirectDebit(v-model="account")
          a-tab-pane(key="pin")
            template(#tab)
              | Pin Code
              a-badge(dot, v-if="!account.pinSet")
            AccountPinCode(v-model="account")
          a-tab-pane(key="transactions", tab="Transactions")
            TransactionsTable(
              :showButtons="true",
              :filters="['Date', 'Products', 'Flow', 'Method', 'Deleted', 'Sepa Batch']",
              endpoint="/api/admin/v2/transactions/",
              :showAccountNames="true",
              :hiddenQueryParameters="{ accountFilter: account.id + '' }"
            )
  template(
    v-else-if="account && (account.type === 'product_ledger' || account.type === 'income_ledger')"
  )
    a-page-header.header(
      title="Account Details",
      :subTitle="account.name",
      @back="() => router.back()"
    )
      template(#tags)
        a-tag(color="cyan") Ledger Account
      AccountLedgerHeader(:account="account")
      template(#footer)
        a-tabs(@change="(k) => (currentTab = k)", :activeKey="currentTab")
          a-tab-pane(key="details", tab="Basic Details")
            AccountBasicDetails(v-model="account")
          a-tab-pane(key="stats", tab="Statistics")
            AccountLedgerStatistics(v-model="account")
          a-tab-pane(key="transactions", tab="Transactions")
            TransactionsTable(
              :showButtons="true",
              :filters="['Date', 'Products', 'Flow', 'Method', 'Deleted', 'Sepa Batch']",
              endpoint="/api/admin/v2/transactions/",
              :showAccountNames="true",
              :hiddenQueryParameters="{ accountFilter: account.id + '' }"
            )

  template(v-else-if="account && account.type === 'event'")
    a-page-header.header(
      title="Account Details",
      :subTitle="account.name",
      @back="() => router.back()"
    )
      template(#tags)
        a-tag(color="green") Event Account
      AccountUserHeader(:account="account")
      template(#footer)
        a-tabs(@change="(k) => (currentTab = k)", :activeKey="currentTab")
          a-tab-pane(key="details", tab="Basic Details")
            AccountBasicDetails(v-model="account")
          a-tab-pane(key="topup", tab="Top-up")
            AccountAdminTopUp(v-model="account", :hideIdealHint="true")
          a-tab-pane(key="pin")
            template(#tab)
              | Pin Code
              a-badge(dot, v-if="!account.pinSet")
            AccountPinCode(v-model="account")
          a-tab-pane(key="transactions", tab="Transactions")
            TransactionsTable(
              :showButtons="true",
              :filters="['Date', 'Products', 'Flow', 'Method', 'Deleted', 'Sepa Batch']",
              endpoint="/api/admin/v2/transactions/",
              :showAccountNames="true",
              :hiddenQueryParameters="{ accountFilter: account.id + '' }"
            )
</template>

<script setup lang="ts">
import { useQuery } from "@tanstack/vue-query";
import { computed, ref } from "@vue/reactivity";
import { useRouter, useRoute } from "vue-router";

import CreateNewAccount from "../../components/account/CreateNewAccount.vue";
import { accountsApi } from "../../scripts/api/accounts";

import AccountUserHeader from "../../components/account/AccountUserEventHeader.vue";
import AccountBasicDetails from "../../components/account/AccountBasicDetails.vue";
import AccountAdminTopUp from "../../components/account/AccountAdminTopUp.vue";
import AccountDirectDebit from "../../components/account/AccountDirectDebit.vue";
import AccountPinCode from "../../components/account/AccountPinCode.vue";
import AccountLedgerStatistics from "../../components/account/AccountLedgerStatistics.vue";
import AccountLedgerHeader from "../../components/account/AccountLedgerHeader.vue";

import TransactionsTable from "../../components/transactions/TransactionsTable.vue";
import { useRouteQuery } from "@vueuse/router";
import { watchEffect } from "vue";
import { notification } from "ant-design-vue";
import { type Key } from "ant-design-vue/es/table/interface";

const router = useRouter();
const route = useRoute();

const currentTab = useRouteQuery<Key>("tab", "details");

const routeAccountId = computed(() =>
  parseInt(route.params.accountId + "", 10)
);

const isCreatingNewAccount = computed(() => {
  return isNaN(routeAccountId.value);
});

const { error, data: account } = useQuery({
  queryKey: ["admin/accounts", routeAccountId],
  enabled: computed(() => !isCreatingNewAccount.value),
  queryFn: async () => {
    return (await accountsApi.adminAccount(routeAccountId.value)).result;
  },
  staleTime: Infinity,
  retry: false,
});

watchEffect(() => {
  if (error.value) {
    notification.warn({
      message: "Account not found.",
    });
    router.replace("./");
  }
});

const isUserAccount = computed(() => account.value?.type == "user");
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.header
  // Compensate for padding of .admin component since header already has built-in padding.
  margin: 0 -32px

  @media (max-width: 1165px)
    margin: 0 -12px
</style>
