<template lang="pug">
.admin
  h1 Account Overview

  div
    p
      | There are several type of accounts, 'normal' accounts are accounts linked to natural persons. Event accounts
      | are used for events, these are usually reset to a balance of €0,- before the end of the fiscal year. Ledger
      | accounts are used for bookkeeping.

    p
      | Direct debit can only be enabled for accounts used by natural persons, this allows
      | the account to have a negative balance. For event accounts, allowing a negative balance can optionally be enabled.

  AccountBalanceAtDate(style="margin-top: 0.5em; margin-bottom: 0.5em;")

  DataTable(
    endpoint="/api/admin/accounts/",
    row-key="id",
    size="small",
    :column-mapping="columnMapping",
    :filter-definition="filterDefinition",
    :scroll="{ x: true }"
  )
    template(#prop-name="{ record, context }")
      a-popover(placement="bottom")
        template(#content)
          span Account was last used on {{ isoDateStringToLocale(record.updatedAt) }}.
        span {{ record.name }}
    template(#prop-deleted="{ record, context }")
      a-tag(v-if="record.deleted", color="red") Archived
    template(#prop-type="{ record, context }")
      a-tag(v-if="record.type == 'user'", color="blue") User
      a-tag(v-if="record.type == 'event'", color="green") Event
      a-tag(v-if="record.type == 'product_ledger'", color="cyan") Product Ledger
      a-tag(v-if="record.type == 'income_ledger'", color="purple") Income Ledger
      a-tag(v-if="record.type == 'pending_ledger'", color="pink") Pending Ledger

    template(#prop-allowNegativeBalance="{ record, context }")
      a-popover(placement="right")
        a-tag(v-if="record.allowNegativeBalance", color="blue") Credit
    template(#row-buttons="{ record, context, loading }")
      a-button-group(v-if="!context.isEditing(record)", size="small")
        template(v-if="!record.deleted")
          router-link(
            :to="`/admin/accounts/${record.id}`",
            :custom="true",
            v-slot="{ navigate }"
          )
            a-button(type="primary", @click="navigate") Edit

        a-popconfirm(
          title="Are you sure?",
          @confirm="() => deleteAccount(context, record)",
          :disabled="record.balance != 0 || (record.type != 'user' && record.type != 'event')"
        )
          a-button(
            :loading="loading",
            :disabled="record.balance != 0 || (record.type != 'user' && record.type != 'event')"
          ) {{ record.deleted ? 'Unarchive' : 'Archive' }}
    template(#buttons="{ context }")
      .buttons
        router-link(
          to="/admin/accounts/new/",
          :custom="true",
          v-slot="{ navigate, href }"
        )
          a-button(@click="navigate", :href="href") New Account
</template>

<script setup lang="ts">
import DataTable from "../../components/datatable/DataTable.vue";
import PriceDisplay from "../../components/common/PriceDisplay.vue";
import AccountBalanceAtDate from "../../components/account/AccountBalanceAtDate.vue";

import type {
  ColumnMapping,
  DataTableContext,
} from "../../scripts/DataTableTypes";
import { markRaw } from "vue";
import BooleanFilter from "../../components/common/BooleanFilter.vue";
import PriceFilter from "../../components/common/PriceFilter.vue";
import LastUsageFilter from "../../components/common/LastUsageFilter.vue";
import { accountsApi } from "../../scripts/api/accounts";
import type { Account } from "../../scripts/types";
import StringDisplay from "../../components/common/StringDisplay.vue";
import AccountTypeFilter from "../../components/account/AccountTypeFilter.vue";

const filterDefinition = [
  {
    title: "Type",
    query: "typeFilter",
    component: markRaw(AccountTypeFilter),
  },
  {
    title: "Credit Account",
    query: "allowNegativeFilter",
    component: markRaw(BooleanFilter),
  },
  {
    title: "Archived",
    query: "deletedFilter",
    component: markRaw(BooleanFilter),
  },
  {
    title: "Balance",
    query: "balanceFilter",
    component: markRaw(PriceFilter),
  },
  {
    title: "Last usage",
    query: "lastUsageFilter",
    component: markRaw(LastUsageFilter),
  },
];

const columnMapping: ColumnMapping = {
  name: {},
  type: {
    title: "Type",
    align: "right",
  },
  allowNegativeBalance: {
    title: "Credit Account",
    align: "right",
  },
  deleted: {
    title: "Archived",
  },
  balance: {
    align: "right",
    component: markRaw(PriceDisplay),
  },
} as const;

async function deleteAccount(context: DataTableContext, record: Account) {
  context.setIsLoading(record, true);
  await accountsApi.deleteAccount(record.id);
  record.deleted = true;
  context.setIsLoading(record, false);
}

const isoDateStringToLocale = (date: string) => {
  return new Date(date).toLocaleString("nl-NL", {
    year: "numeric",
    month: "numeric",
    day: "numeric",
    hour: "2-digit",
    minute: "2-digit",
  });
};
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
