<template lang="pug">
.admin
  a-page-header.header(
    title="Bar Management",
    subTitle="Manage bar related settings.",
    :backIcon="false"
  )
    template(#footer)
      a-tabs(@change="(k) => (currentTab = k + '')", :activeKey="currentTab")
        a-tab-pane(key="slide", tab="Slide Configuration")
          a-row(style="margin: 0.5em 0")
            a-col(style="margin: 0 2em") The name attribute will be shown on the screen instead of the actual product name.
            a-col(style="margin: 0 2em") The weight attribute is for calculating the "bpm" (beers per minute) stat.
              | This flexibility is needed for some items that account for more (e.g. a
              | pitcher) and some items we want to be accounted for, while strictly not being
              | beer (soft drinks), and some we want to exclude.
            a-col(style="margin: 0 2em") Spacing will add a small amount of white-space above the item, as a divider.

          SlideProductTable
        a-tab-pane(key="slidePreview", tab="Slide Preview")
          p This is a preview of the bar slide, it might not be 100% accurate. The full version can be found&nbsp;
            router-link(:to="{ name: 'slideBar' }") here.

          .wrapper-wrapper
            .preview-wrapper
              BarMenu
</template>

<script setup lang="ts">
import SlideProductTable from "../../components/slides/SlideProductTable.vue";
import BarMenu from "../../components/slides/BarMenu.vue";

import { useRouteQuery } from "@vueuse/router";

const currentTab = useRouteQuery<string>("tab", "slide");
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.preview-wrapper
  max-height: 80vh
  overflow: scroll
  background-color: $via-blue
  color: white
  position: relative
  border: 1px solid black
  aspect-ratio: 16 / 9

.header
  // Compensate for padding of .admin component since header already has built-in padding.
  margin: 0 -32px

  @media (max-width: 1165px)
    margin: 0 -12px
</style>
