<template lang="pug">
.admin
  h1 Category Overview

  DataTable(
    endpoint="/api/admin/categories/",
    row-key="id",
    size="small",
    :column-mapping="columnMapping",
    :scroll="{ x: true }"
  )
    template(#row-buttons="{ record, context, loading }")
      a-button-group(v-if="!context.isEditing(record)", size="small")
        a-button(type="primary", @click="() => context.startEdit(record)") Edit
      a-button-group(v-else, size="small")
        a-button(
          :key="record.id",
          type="primary",
          :loading="loading",
          @click="() => saveCategory(context, record)"
        ) Save
        a-button(@click="() => context.cancelEdit()") Cancel

    template(#buttons="{ context }")
      .buttons
        a-button(@click="context.addItem(createNewCategory())") Add Item
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";

import DataTable from "../../components/datatable/DataTable.vue";
import CategoryColorDisplay from "../../components/common/CategoryColorDisplay.vue";
import NumberDisplay from "../../components/common/NumberDisplay.vue";
import BooleanDisplay from "../../components/common/BooleanDisplay.vue";
import StringDisplay from "../../components/common/StringDisplay.vue";

import type {
  ColumnMapping,
  DataTableContext,
} from "../../scripts/DataTableTypes";
import type { CategoryData, NewCategoryData } from "../../scripts/admin_types";
import { NEW_ITEM_KEY } from "../../scripts/DataTableTypes";
import { categoryApi } from "../../scripts/api/category";
import { PydanticError } from "../../scripts/api/api";
import { markRaw } from "vue";

const columnMapping: ColumnMapping = {
  name: {
    component: markRaw(StringDisplay),
  },
  color: {
    component: markRaw(CategoryColorDisplay),
  },
  position: {
    component: markRaw(NumberDisplay),
  },
  deleted: {
    title: "Hidden",
    component: markRaw(BooleanDisplay),
  },
} as const;

function createNewCategory(): NewCategoryData {
  return {
    name: "",
    position: 0,
    color: 0,
    deleted: false,
  };
}

async function saveCategory(context: DataTableContext, record: CategoryData) {
  context.setIsLoading(record, true);

  try {
    let product: CategoryData;
    let verb: "created" | "updated";
    if (record.id === NEW_ITEM_KEY) {
      product = await categoryApi.postCategory(record);
      verb = "created";
    } else {
      product = await categoryApi.putCategory(record);
      verb = "updated";
    }
    context.saveEdit(product, record.id);

    notification.success({
      message: `Category saved.`,
      description: `'${record.name}' has been ${verb}.`,
    });
  } catch (e: unknown) {
    notification.error({
      message: `Failed to update category.`,
      description: !(e instanceof PydanticError) ? "Unknown error." : e.toDiv(),
    });
  } finally {
    context.setIsLoading(record, false);
  }
}
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
