<template lang="pug">
.admin
  h1 Product Management
  ProductTable
</template>

<script setup lang="ts">
import ProductTable from "../../components/products/ProductTable.vue";
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>
