<template lang="pug">
.admin
  h1 Register Management
  RegisterTable
</template>

<script setup lang="ts">
import RegisterTable from "../../components/register/RegisterTable.vue";
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>
