<template lang="pug">
.admin
  a-page-header.header(
    title="Settings",
    subTitle="Manage settings.",
    :backIcon="false"
  )
    template(#footer)
      a-tabs(@change="(k) => (currentTab = k + '')", :activeKey="currentTab")
        a-tab-pane(key="reasons", tab="Checkout Reasons")
          CheckoutReason
        SuspendedTabPane(
          key="notifications",
          tab="Notifications",
          errorMessage="Could not load notification settings."
        )
          Notifications
</template>

<script setup lang="ts">
import { useRouteQuery } from "@vueuse/router";
import CheckoutReason from "../../components/settings/CheckoutReasons.vue";
import Notifications from "../../components/settings/Notifications.vue";
import SuspendedTabPane from "../../components/common/SuspendedTabPane.vue";

const currentTab = useRouteQuery<string>("tab", "reasons");
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.header
  // Compensate for padding of .admin component since header already has built-in padding.
  margin: 0 -32px

  @media (max-width: 1165px)
    margin: 0 -12px
</style>
