<template lang="pug">
.admin
  h1 Transaction Overview

  TransactionsTable(
    :showButtons="true",
    :filters="['Date', 'Account', 'Products', 'Flow', 'Deleted', 'Sepa Batch']",
    :showAccountNames="true",
    endpoint="/api/admin/v2/transactions/"
  )
</template>

<style lang="sass" scoped>
@import '../../styles/admin.sass'
</style>

<script setup lang="ts">
import TransactionsTable from "../../components/transactions/TransactionsTable.vue";
</script>
