<template lang="pug">
.admin
  template(v-if="isCreatingNewUser")
    a-page-header.header(title="Create User", @back="() => router.back()")
      UserBasicDetails(
        :modelValue="creatingUserRecord",
        @update:modelValue="onNewUserCreated"
      )

  template(v-else-if="user")
    a-page-header.header(
      title="User Details",
      :subTitle="user.name",
      @back="() => router.back()"
    )
      template(#tags)
        a-tag(v-if="user?.viaductUserId", color="green") Viaduct
      template(#footer)
        a-tabs(@change="(k) => (currentTab = k)", :activeKey="currentTab")
          a-tab-pane(key="details", tab="Basic Details")
            UserBasicDetails(v-model="user")
          a-tab-pane(key="sepa", tab="Direct Debit")
            UserDirectDebit(v-model="user.directDebit", :userId="user.id")
</template>

<script setup lang="ts">
import { useQuery } from "@tanstack/vue-query";
import { computed, ref } from "@vue/reactivity";
import { useRouter, useRoute } from "vue-router";
import { type Key } from "ant-design-vue/es/table/interface";

import { type UserResponse, usersApi } from "../../scripts/api/users";

import UserBasicDetails from "../../components/user/UserBasicDetails.vue";
import UserDirectDebit from "../../components/user/UserDirectDebit.vue";

import { useRouteQuery } from '@vueuse/router'
import { watchEffect } from "vue";
import { notification } from "ant-design-vue";

const router = useRouter();
const route = useRoute();

const currentTab = useRouteQuery<Key>("tab", "details");

const routeUserId = computed(() =>
  parseInt(route.params.userId + "", 10)
);

const isCreatingNewUser = computed(() => {
  return isNaN(routeUserId.value);
});

const creatingUserRecord = ref<Partial<UserResponse>>({});

const { error, data: user } = useQuery({
  queryKey: ["admin/users", routeUserId],
  enabled: computed(() => !isCreatingNewUser.value),
  queryFn: async () => {
    return (await usersApi.getUser(routeUserId.value)).result;
  },
  staleTime: Infinity,
  retry: false,
});

const onNewUserCreated = (createdUser: UserResponse) => {
  user.value = createdUser;
  router.replace({ params: {
    userId: createdUser.id + ""
  }})
}


watchEffect(() => {
  if (error.value) {
    notification.warn({
      message: "User not found.",
    });
    router.replace("./");
  }
});
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.header
  // Compensate for padding of .admin component since header already has built-in padding.
  margin: 0 -32px

  @media (max-width: 1165px)
    margin: 0 -12px
</style>
