<template lang="pug">
.admin
  h1 User Overview

  DataTable(
    endpoint="/api/admin/users/",
    row-key="id",
    size="small",
    :column-mapping="columnMapping",
    :filter-definition="filterDefinition",
    :scroll="{ x: true }",
    :hiddenQueryParameters="{ deletedFilter: 'false' }",
    :loading="defaultRegisterIsLoading"
  )
    template(#prop-viaductUserId=" { record }")
      a-tag(v-if="record.viaductUserId", color="green") Viaduct
      a-tag(v-else, color="cyan") Password
    template(#prop-isAdmin=" { record }")
      a-tag(v-if="record.isAdmin", color="red") Admin
    template(#prop-register="{ record }")
      RegisterDisplay(
        v-if="record.register",
        :modelValue="record.register?.id",
        :initialValue="record.register",
        :edit="false"
      )
      //- Else-if case will be true since we wait until `defaultRegisterIsLoading`
      RegisterDisplay(
        v-else-if="defaultRegister",
        :modelValue="defaultRegister.id",
        :initialValue="defaultRegister",
        :edit="false"
      )

    template(#row-buttons="{ record, context, loading }")
      a-button-group(v-if="!context.isEditing(record)", size="small")
        router-link(
          :to="`/admin/users/${record.id}`",
          :custom="true",
          v-slot="{ navigate, href }"
        )
          a-button(type="link", :href="href", @click="navigate") Edit
        a-popconfirm(
          placement="left",
          @confirm="() => deleteUser(context, record)",
          :disabled="!!record.deletedAt || !!record.viaductUserId"
        )
          template(#title)
            div Are you sure? Deleting a user cannot be undone.
          a-button(
            :loading="loading",
            :disabled="!!record.deletedAt || !!record.viaductUserId"
          ) Delete
    template(#buttons="{ context }")
      .buttons
        router-link(
          to="/admin/users/new/",
          :custom="true",
          v-slot="{ navigate, href }"
        )
          a-button(@click="navigate", :href="href") Create User
</template>

<script setup lang="ts">
import DataTable from "../../components/datatable/DataTable.vue";
import BooleanFilter from "../../components/common/BooleanFilter.vue";
import StringDisplay from "../../components/common/StringDisplay.vue";
import RegisterDisplay from "../../components/register/RegisterDisplay.vue";

import type {
  ColumnMapping,
  DataTableContext,
  FilterDefinition,
} from "../../scripts/DataTableTypes";
import { markRaw } from "vue";
import { useDefaultRegisterQuery } from "../../scripts/api/registers";
import { usersApi } from "../../scripts/api/users";
import type { UserResponse } from "../../scripts/api/users";
import { notification } from "ant-design-vue";

const filterDefinition: FilterDefinition[] = [
  {
    title: "Admin",
    query: "adminFilter",
    component: markRaw(BooleanFilter),
  },
  {
    title: "Viaduct",
    query: "viaductFilter",
    component: markRaw(BooleanFilter),
  },
];

const columnMapping: ColumnMapping = {
  username: {
    component: markRaw(StringDisplay),
  },
  name: {
    component: markRaw(StringDisplay),
  },
  viaductUserId: {
    title: "Login type",
  },
  isAdmin: {
    title: "Admin",
  },
  register: {
    title: "Register",
  },
} as const;

async function deleteUser(context: DataTableContext, record: UserResponse) {
  context.setIsLoading(record, true);

  try {
    const resp = await usersApi.deleteUser(record.id);
    context.deleteItem(record.id);
  } catch (e) {
    if (
      e?.errorIdentifier ===
      "cannot_disable_direct_debit_when_pending_sepa_batch_exists"
    ) {
      notification.error({
        message: `Could not delete user.`,
        description: "This user has a pending direct debit.",
      });
      return;
    }
  } finally {
    context.setIsLoading(record, false);
  }
}

const {
  data: defaultRegister,
  isLoading: defaultRegisterIsLoading,
} = useDefaultRegisterQuery();
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
