<template lang="pug">
DataTable(
  endpoint="/api/admin/registers/",
  row-key="id",
  size="small",
  :column-mapping="columnMapping",
  :filter-definition="filterDefinition",
  :scroll="{ x: true }",
  :hiddenQueryParameters="{ deletedFilter: 'false' }"
)
  template(#row-buttons="{ record, context, loading }")
    a-button-group(size="small")
      router-link(
        :to="`/admin/registers/${record.id}`",
        :custom="true",
        v-slot="{ navigate, href }"
      )
        a-button(@click="navigate", type="link", :href="href") Edit

      a-button(
        @click="() => setAsDefaultRegister(context, record)",
        :loading="loading",
        :disabled="record.isDefault"
      ) Make Default
      a-popconfirm(
        title="Are you sure?",
        @confirm="() => deleteRegister(context, record)"
      )
        a-button(:loading="loading", :disabled="record.isDefault") Delete

  template(#prop-categories="{ record, context }")
    CategoryDisplay(
      :modelValue="record.categories.map((c) => c.id)",
      :edit="false"
    )

  template(#prop-isDefault="{ record }")
    a-tag(v-if="record.isDefault", color="blue") Default

  template(#buttons="{ context }")
    .buttons
      router-link(
        to="/admin/registers/new/",
        :custom="true",
        v-slot="{ navigate, href }"
      )
        a-button(@click="navigate", :href="href") Create Register
</template>

<script setup lang="ts">
import { notification } from "ant-design-vue";

import DataTable from "../datatable/DataTable.vue";
import CategoryDisplay from "../common/CategoryDisplay.vue";
import StringDisplay from "../common/StringDisplay.vue";

import type {
  ColumnMapping,
  DataTableContext,
} from "../../scripts/DataTableTypes";
import { type Register, registerApi } from "../../scripts/api/registers";
import { markRaw } from "vue";
import BooleanFilter from "../common/BooleanFilter.vue";
import CategoryFilter from "../common/CategoryFilter.vue";

const filterDefinition = [
  {
    title: "Categories",
    query: "categoryFilter",
    component: markRaw(CategoryFilter),
  },
  {
    title: "Default",
    query: "defaultFilter",
    component: markRaw(BooleanFilter),
  },
];

const columnMapping: ColumnMapping = {
  name: {
    component: markRaw(StringDisplay),
  },
  categories: {
    title: "Categories",
  },
  isDefault: {
    title: "Default"
  },
} as const;

const deleteRegister = async (context: DataTableContext<Register>, record: Register) => {
  context.setIsLoading(record, true);
  try {
    await registerApi.deleteRegister(record.id);
    context.deleteItem(record.id);
  } catch(e) {
    if (e?.errorIdentifier === 'register_enabled_for_users') {
      notification.error({
        message: "Could not delete register.",
        description: "Register is used by users."
      })
    } else {
      notification.error({
        message: "Could not delete register.",
        description: "Unknown error."
      })
    }
  } finally {
      context.setIsLoading(record, false);
  }
}

const setAsDefaultRegister = async (context: DataTableContext<Register>, record: Register) => {
  context.setIsLoading(record, true);
  const updatedRegister = (await registerApi.setDefault(record.id)).result;

  // Remove default flag from current default register.
  for(const register of context.data) {
    if (register.isDefault) {
      context.saveEdit({
        ...register,
        isDefault: false
      }, register.id);
    }
  }

  context.saveEdit(updatedRegister, record.id);
  context.setIsLoading(record, false);
}
</script>

<style lang="sass" scoped>
@import '../../styles/admin.sass'

.buttons
  margin: 0.75em
</style>

<style lang="sass">
.ant-table-body
  overflow-x: auto !important
</style>
